/* TODO: add emphasis utilities */
/* https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */
/* https://tailwindcss.com/docs/plugins#dynamic-utilities */
/* https://github.com/tailwindlabs/tailwindcss/discussions/6075 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis-color?retiredLocale=nl */

/* GLOBAL */
html {
	/* @apply f-var-s1+1; */
	/* height of the nav logo + nav y padding * 2 */ /* prettier-ignore */
	scroll-padding-top: calc(var(--f-s2) + var(--f-s1\+1) * 2 + var(--f-s0));
}
/* If Motion = ok */
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
	* {
		transition: all 0.1s ease;
		transition-behavior: allow-discrete;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

:where(:--button) {
	@apply f-text-s0 f-px-s0 f-py-s-2 border-style-solid decoration-none border-3 inline-block rounded-md;
}
.badge {
	@apply py-3xs px-xs rounded-md;
}

/* & :--mark {
	@apply bg-transparent;
	position: relative;
	&::before {
		position: absolute;
		content: "";
		z-index: -1;
		inset: 0 -5px 0 5px;
		box-shadow: inset 0 -0.5em 0 var(--color-bg__mark);
	}
} */

.pic-frame {
	--pic-frame-b-size: 0.5rem;
	--pic-frame-b-width: 2px;
	--pic-frame-padding: 1rem;
	/* aspect-ratio: 16/9; */
	position: relative;
	height: 100%;
	width: 100%;
	/* background-image: linear-gradient(
			to top right,
			transparent 48.5%,
			gray 48.5%,
			gray 51.5%,
			transparent 51.5%
		),
		linear-gradient(to top right, transparent 48.5%, gray 48.5%, gray 51.5%, transparent 51.5%),
		linear-gradient(to top left, transparent 48.5%, gray 48.5%, gray 51.5%, transparent 51.5%),
		linear-gradient(to top left, transparent 48.5%, gray 48.5%, gray 51.5%, transparent 51.5%); */
	background-size: var(--pic-frame-b-size) var(--pic-frame-b-size);
	background-position:
		top left,
		bottom right,
		top right,
		bottom left;
	background-repeat: no-repeat;
	padding: calc(var(--pic-frame-b-size) + var(--pic-frame-padding));
	border: var(--pic-frame-b-width) solid gray;
}
.pic-frame:after {
	position: absolute;
	content: "";
	height: calc(100% - var(--pic-frame-b-size) * 2);
	width: calc(100% - var(--pic-frame-b-size) * 2);
	top: calc(var(--pic-frame-b-size) - var(--pic-frame-b-width));
	left: calc(var(--pic-frame-b-size) - var(--pic-frame-b-width));
	border: var(--pic-frame-b-width) solid gray;
}
.polaroid {
	--polaroid-border-width: 2rem;
	/* --bg: var(--sand-3); */
	border: var(--polaroid-border-width) solid;
	border-image-source: radial-gradient(closest-side, transparent 70%, theme(colors.white) 70%);
	border-image-slice: 49%;
}
.wavy {
	--wavy-border-width: 0.5rem;
	border: var(--wavy-border-width) solid;
	border-image-source: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" fill="lime"><path d="M0 1c0-.552285.447715-1 1-1 .5 0 .875.25 1.25.5S3 1 3.5 1 4.375.75 4.75.5 5.5 0 6 0c.55228 0 1 .447715 1 1 0 .5-.25.875-.5 1.25S6 3 6 3.5s.25.875.5 1.25S7 5.5 7 6c0 .5333-.41747.9691-.94344.99843-.46617-.0215-.82387-.25997-1.18156-.49843-.375-.25-.75-.5-1.25-.5s-.875.25-1.25.5-.75.5-1.25.5H1c-.533303 0-.9691-.41747-.998427-.94344C.023075 5.59039.261537 5.23269.5 4.875c.25-.375.5-.75.5-1.25S.75 2.75.5 2.375s-.5-.75-.5-1.25V1Z" /></svg>');
	border-image-slice: 1 fill;
	border-image-repeat: round;
}

.breakout-clickable {
	/* box-shadow: var(--shadow-1); */
	box-shadow: none;
}
.breakout-clickable:hover,
.breakout-clickable:focus-within {
	/* box-shadow: var(--shadow-2); */
	box-shadow: none;

	/* transform: translateY(-0.2rem); */
	transform: none;
}

/* Nav */
.sticky-nav::before {
	animation: navShadow linear forwards;
	animation-timeline: view(block);
	/* animation-timeline: view(); */
	animation-range-start: 100vh;
	animation-range-end: 200vh;
	box-shadow: var(--shadow-2);
	@screen sm {
		box-shadow: none;
	}
}
@keyframes navShadow {
	100% {
		box-shadow: var(--shadow-2);
	}
}

/* TODO: see if i have to keep this. Depends on how I end up defining my palettes. */
.sticky-nav li {
	--color-text__a--hover: var(--color-front-theme);
	--color-bg__a--hover: var(--color-back-theme);
}

.sticky-nav a {
	/* @apply f-px-s-2 f-py-s-3; */

	&[aria-current="page"] {
		font-weight: 700;
	}
	&:hover,
	&:focus {
		text-decoration: underline;
		text-underline-position: under;
	}
}

/* For the static menu */
/* .sticky-nav li:first-child {
	& a {
		@apply f-py-s-1 inline-block px-10;

		clip-path: polygon(
			calc(100% - 25px) 0%,
			100% 50%,
			calc(100% - 25px) 100%,
			0% 100%,
			25px 50%,
			0% 0%
		);

		--color-text__a: var(--color-front-theme);
		--color-bg__a: var(--color-front-muted);
		--color-text__a--hover: var(--color-back-theme);
		--color-bg__a--hover: var(--color-front-theme);

		&[aria-current="page"] {
			font-weight: 400;

			--color-text__a: var(--color-back-theme);
			--color-bg__a: var(--color-front-theme);
		}
	}
} */
.sticky-nav .menu-label {
	clip-path: polygon(
		calc(100% - 25px) 0%,
		100% 50%,
		calc(100% - 25px) 100%,
		0% 100%,
		25px 50%,
		0% 0%
	);

	--color-text: var(--color-front-theme);
	--color-bg: var(--color-front-muted);
}

.stychy-nav ul {
	@apply f-var-s1+1 f-var-s-1 f-var-s0;
	/* @apply border-0 pb-2 pl-10; */

	left: max(var(--f-s0), (100vw - 64rem) / 2 + var(--f-s0));
	margin: 0;
	/* NOTE: header padding * 2 + arrow padding * 2 + font-size * line-height */
	/* prettier-ignore */
	top: calc(var(--f-s1\+1) * 2 + var(--f-s-1) * 2 + var(--f-s0) * 1.5);
	background: transparent;
	/* overflow: hidden; */
}

/* TODO: Remove if we never use the popover menu */
/* .sticky-nav .menu-control {
	@apply f-py-s-1 border-0 px-10 uppercase;

	clip-path: polygon(
		calc(100% - 25px) 0%,
		100% 50%,
		calc(100% - 25px) 100%,
		0% 100%,
		25px 50%,
		0% 0%
	);

	--color-text__button: var(--color-front-theme);
	--color-bg__button: var(--color-front-muted);
	--color-text__button--hover: var(--color-back-theme);
	--color-bg__button--hover: var(--color-front-theme);
	--color-text__button--disabled: var(--color-back-theme);
	--color-bg__button--disabled: var(--color-front-theme);

	&:disabled {
		cursor: auto;
	}
} */
/* #nav-popover {
	@apply f-var-s1+1 f-var-s-1 f-var-s0;
	@apply border-0 pb-2 pl-10;

	left: max(var(--f-s0), (100vw - 64rem) / 2 + var(--f-s0));
	margin: 0;
	NOTE: header padding * 2 + arrow padding * 2 + font-size * line-height
	prettier-ignore
	top: calc(var(--f-s1\+1) * 2 + var(--f-s-1) * 2 + var(--f-s0) * 1.5);
	background: transparent;
	overflow: hidden;
	&::backdrop {
		background: hsl(0 0% 100% / 0.95);
	}

	& li + li {
		prettier-ignore
		margin-top: var(--f-s1\+1);
	}
} */

/* FORMS */
form {
	appearance: none;
}
input {
	border: none;
	border-bottom: solid 3px;
}
input[type="submit"],
textarea {
	border: solid 3px;
}
.submitting :--button {
	opacity: 0.7;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
	background-color: initial;
}

/* Carbon Badge */
#wcb:not(x) {
	&.carbonbadge {
		--b1: var(--color-front-theme);
		--b2: var(--color-front-accent-theme);
		color: currentColor;
	}
	/* &.carbonbadge sub {}
	& #wcb_2,
	& #wcb_a,
	& #wcb_g {}
	& #wcb_a,
	& #wcb_g {} */
	& #wcb_g {
		color: var(--b1);
	}
	/* & #wcb_a {}
	&.wcb-d #wcb_a {}
	&.wcb-d #wcb_2 {} */
}

/* Eco-badge */
.eco-badge {
	position: fixed;
	z-index: 1000;
	/* top: var(--f-s2); */
	top: calc(-1 * var(--f-s2));
	/* right: var(--f-s2); */
	right: calc(-1 * var(--f-s2));
	width: var(--f-s8);
	height: var(--f-s8);
	border-radius: 999vw;
	--color-text: var(--color-front-theme);
	--color-bg: var(--color-front-muted);
	@apply f-p-s0;
	& > p {
		@apply h-100% flex flex-col items-center justify-center;
	}

	& .loud {
		@apply font-bums f-text-s2 leading-none;
	}

	& a {
		@apply small;
	}
}

/* SECTIONS */
.game-description::before {
	/* @apply bg-gradient-to-b from-white to-blue-500; */
	bottom: calc(-1 / 2 * var(--f-s6));
	background: transparent
		/* linear-gradient(180deg, theme(colors.white) 0%, #ebf6ee 28%, #ebf6ee 68%, #c0e8db 100%) 0% 0% */
		linear-gradient(
			180deg,
			theme(colors.white) 0%,
			theme(colors.teal.lighter) 28%,
			theme(colors.teal.lighter) 68%,
			theme(colors.teal.light) 100%
		)
		no-repeat padding-box;
}

.game-description details {
	/* Set a max-height value just enough to show the summary */
	max-height: 3rem;
	/* Hide the rest of the content: Useful if we use the checkbox trick */
	/* overflow: hidden; */
	/* Animate the change */
	transition: max-height 800ms ease-out;
	transition-behavior: allow-discrete;

	&[open] {
		/* Set a max-height value enough to show all the content */
		max-height: 200vh;
		/* Animate the change: does not work */
		/* transition: max-height 400ms ease-out; */
	}

	& summary::-webkit-details-marker {
		display: none;
	}

	& summary {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* padding: 10px 15px; */
		/* font-weight: bold; */

		& svg {
			width: 18px;
			height: 10px;
			transition: 0.2s;
		}
		/* &::after {
			content: "";
			width: 18px;
			height: 10px;
			background: url("/assets/images/pictos/simple-arrow-down.svg") no-repeat;
			background-size: cover;
			transition: 0.2s;
		} */
	}

	&[open] > summary svg {
		transform: rotate(180deg);
	}
}

.technical-info::before {
	top: calc(-1 / 2 * var(--f-s6));
	bottom: calc(-1 / 2 * var(--f-s6));
}

.created-by::before {
	top: calc(-1 / 2 * var(--f-s6));
	background: transparent
		linear-gradient(
			180deg,
			theme(colors.teal.light) 0%,
			theme(colors.teal.lighter) 28%,
			theme(colors.teal.lighter) 68%,
			theme(colors.white) 100%
		)
		no-repeat padding-box;
}

main.photographs {
	/* Don't display the form if :has is not supported */ /* prettier-ignore */
	& form { display: none; } /* prettier-ignore */
	&:has(form) form { display: block; }

	/* styles */
	/* inspired by https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
	& fieldset {
		/* border: 0; */
		/* display: flex; */
		/* gap: 2rem; */
		/* width: fit-content; */
		/* background: #fff; */
		/* padding: 1rem 3rem; */
		/* margin-inline: auto; */
		/* border-radius: 0 0 1rem 1rem; */
	}

	& label {
		display: grid;
		grid-template-columns: 1em auto;
		gap: 0.5em;
	}

	& input[type="radio"] {
		appearance: none;
		/* For iOS < 15 to remove gradient background */
		background-color: #fff;
		/* Not removed via appearance */
		margin: 0;
		font: inherit;
		color: currentColor;
		width: 1.15em;
		height: 1.15em;
		border: 0.15em solid currentColor;
		border-radius: 50%;
		transform: translateY(0.08em);
		/* align the :before to the horizontal and vertical center */
		display: grid;
		place-content: center;
		&::before {
			content: "";
			width: 0.65em;
			height: 0.65em;
			border-radius: 50%;
			transform: scale(0);
			transition: 120ms transform ease-in-out;
			box-shadow: inset 1em 1em currentColor;
			background-color: CanvasText;
		}
		&:checked::before {
			transform: scale(1);
		}
	}

	/* functionality */
	&:has(#by-picture-number:checked) {
		--byPicDisplay: grid;
		--byPhotographDisplay: none;
	}
	&:has(#by-photograph:checked) {
		--byPicDisplay: none;
		--byPhotographDisplay: flex;
	}
}

.sortedByPicNumber {
	display: var(--byPicDisplay, flex);
}
.sortedByPhotograph {
	display: var(--byPhotographDisplay, none);
}

body > footer.full-bleed-before {
	background: transparent;

	&:before {
		background: hsl(from theme(colors.scarlet.DEFAULT) h s l / 0.5)
			url("/assets/images/texture-cover-min.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
	}

	& address {
		@apply f-pl-s-1 leading-tight;
		position: relative;
		isolation: isolate;
		&::before {
			position: absolute;
			content: "";
			z-index: -1;
			inset: 0.75em 0;
			box-shadow: inset 1px 0 0 var(--color-front-accent-theme);
		}
	}
}

/* UTILITIES */
