<header class="ctxc-default full-bleed-before f-py-s1+1 sticky top-0 z-50">
	<nav class="cluster split-after-1 f-gap-s2 align-center flex-wrap justify-between">
		<div class="f-h-s2 shrink-0">
			<a href="#accueil" class="block h-full w-full">{% include "svg/logo.njk" %}</a>
		</div>

		<ul class="reset cluster f-gap-s-2+2 relative top-[0.2em] uppercase leading-none">
			{% for li in sectionList %}
			<li class="">
				<a href="{{ li.href }}" class="reset f-text-s0">{{ li.txt }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
