<header class="ctxc-default py-fluid-s-m sticky full-bleed-before top-0 z-50">
	<nav class="cluster justify-between split-after-1 flex-wrap gap-fluid-0">
		<div class="h-fluid-1 shrink-0">
			<a href="#accueil" class="block h-full w-full">{% include "svg/logo.njk" %}</a>
		</div>

		<ul class="cluster fluid-gap-md uppercase">
			{% for li in sectionList %}
				<li class="">
					<a href="{{ li.href }}" class="">{{ li.txt }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
