# Temporary

# Generic
# Ignore Node Modules
node_modules/
package-lock.json
.env
.log
.cache
yarn.lock
.vscode
**/.DS_Store

# App-specific
# Ignore output directory
dist

# Netlify generated stuff
.netlify/