<!doctype html>
<html lang="{{lang or 'fr'}}" class="no-js {{class.html or 'h-full'}}">
	<head>
		{# Handled by metagen #} {#
		<meta charset="UTF-8" />
		#} {#
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#} {#
		<title>{{ title }}</title>
		#}
		<!-- TODO: metadata -->
		{% metagen metadata %}
		<!-- Generator -->
		{#
		<meta name="generator" content="{{ eleventy.generator }}" />
		#} {#
		<!-- prettier-ignore -->
		<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
		#}
		<!-- Icons -->
		{# https://realfavicongenerator.net/favicon_result?file_id=p1i2lmuudnne317fk1nqa1ms625j6 #}
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png" />
		<link rel="manifest" href="/assets/images/icons/site.webmanifest" />
		<link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#208b82" />
		<link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
		<meta name="msapplication-TileColor" content="#c0e8db" />
		<meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />
		<!-- Preload Fonts -->
		{#
		<!-- prettier-ignore -->
		<link rel="preload" href="/assets/fonts/DIN_2014.otf" as="font" type="font/otf" crossorigin>
		<!-- prettier-ignore -->
		<link rel="preload" href="/assets/fonts/Flabby_Bums_handwriting.ttf" as="font" type="font/ttf" crossorigin>

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/main.css" />
		#}
		<!-- Indexing -->
		{# {% if status == "noindex" %}
		<meta name="robots" content="noindex" />
		{% endif %} #}
		<!-- -->
		{# Not working with eleventy layouts #}
		<!-- Head injection -->
		{% block head %}{% endblock %}
		<!--  -->
		{{ head | safe }}
		<!-- inlineCss -->
		<!-- Analytics -->
		{% if BUILD_CONTEXT == "production" %}
		<script
			defer
			src="https://cloud.umami.is/script.js"
			data-website-id="642acae6-02f8-447c-a7c6-90a031687bf8"
		></script>
		{% endif %}
	</head>
	<body class="{{class.body}}">
		<!-- Nav -->
		{% include "../_components/header-nav.html" %}

		<!-- Contenu de la page -->
		{% block content %} {{ content | safe }} {% endblock %}
		<!-- Aside -->
		{% include "../_partials/aside-eco/" + lang + ".html" %}
		<!-- Footer -->
		{% include "../_partials/footer/" + lang + ".html" %}

		<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
	</body>
</html>
