<section class="flex-1 w-full bg-piedpage">
    <div class="max-w-7xl mx-auto py-20 px-10 text-arriereplan xl:pe-[4.5rem] xl:grid xl:grid-cols-apropos">

        <h2
        class="uppercase transform text-center py-24 w-full mx-auto text-5xl mb-10 lg:col-start-1 lg:col-end-3  sideways-lr xl:-mt-28 xl:text-end xl:mb-0 xl:text-7xl xl:col-start-1 xl:col-end-2"
        >
        à propos
        </h2>
        
        <div class="relative pb-20">
            <p>L’objectif de notre asbl est de soutenir activement les associations, les particuliers et les entreprises, quelle que soit leur taille ou leur forme, dans la réalisation d’actions visant le <span class="font-bold text-deums text-lg">bien commun</span>. Notre mission est d’être un <span class="font-bold text-deums text-lg">catalyseur</span> pour l’autonomisation de ces acteurs, en éliminant les obstacles et les contraintes qui pourraient entraver leurs efforts. <br><br> Pour concrétiser cette vision, nous offrons: </p>
            <ul class="list-disc list-inside">
                <li>Un soutien créatif polyvalent couvrant divers domaines d’expertise tels que l’informatique, le design graphique, la gestion de l’information, l’organisation des processus, la gestion du changement, la rédaction, la photographie, la production vidéo, le marketing, le développement personnel et professionnel, et bien d’autres encore.</li>
                <li>Une assistance dans la gestion de projets.</li>
                <li>Des programmes de formation et des ateliers.</li>
                <li>Un soutien logistique, notamment dans la gestion de l’infrastructure informatique.</li>
                <li>L’organisation d’événements.</li>
                <li>Des services de consultation et de conseil.</li>
                <li>Du coaching individuel ou en groupe</li>
                <li>La mise en relation et le réseautage pour favoriser les échanges.</li>
            </ul>
            <br>
            <p>Notre plateforme est habilitée à mener toutes les activités, commerciales ou non, directement ou indirectement liées à notre mission. Nous sommes également ouverts à collaborer et à soutenir toute initiative alignée avec nos objectifs.</p>
            <p class="absolute uppercase text-deums text-2xl border-4 px-2 pt-5 pb-16 text-center border-deums mt-10">vitalité • énergie • force • courage • clarté mentale • connexion à la terre • harmonie • créativité • expression • protection</p>
        </div>
        
        
        

    </div>
    
    </form>
  </section>