---
layout: layouts/base.njk
title: "Mookai ASBL: coopération créative et digitale"
class:
  body: "font-robotoflex flex min-h-screen flex-col bg-arriereplan"
---

{% include "index/heading-group.html" %}
{% include "index/blob.html" %}
{% include "index/testimonialsQ.html" %}
{% include "index/formQ.html" %}
