<header class="sticky-nav ctxc-default full-bleed-before f-py-s1+1 z-1000 sticky top-0">
	<nav class="f-gap-s2 flex flex-nowrap items-center justify-start">
		<!-- "Menu" -->
		<!-- <p class="menu-label ctxc-default f-py-s-1 hidden border-0 px-10 uppercase sm:inline-block">
			Menu
		</p> -->

		<ul class="reset cluster f-gap-s-1+2 items-center uppercase leading-none">
			<!-- <p class="sideways-lr">Menu</p> -->
			<!-- <img
				src="/album/_images/pictos/album_star_icon.png"
				alt=""
				eleventy:widths="20"
				class="inline-block h-[0.9em] w-[0.9em] sm:hidden"
				loading="eager"
			/> -->
			<!-- prettier-ignore -->
			{% for item in mainMenuList %}
			{% set li = item[lang] %}
			{% if li.href == page.url %}
			{% set ariaCurrent = 'page' %}
			{% else %}
			{% set ariaCurrent = 'false' %}
			{% endif %}
			<li class="sm:w-auto {{'w-100%' if loop.index == 1}}">
				<a href="{{ li.href }}" aria-current="{{ariaCurrent}}" class="reset f-text-s0 block">
					{% if loop.index == 1 %}
					<!-- <img
						src="/album/_images/pictos/album_star_icon.png"
						alt=""
						eleventy:widths="18"
						class="inline-block h-[0.75em] w-[0.75em] sm:hidden"
						loading="eager"
					/> -->
					<img
						src="/album/_images/ALBUM_2024_logo_2000.png"
						alt="{{ li.txt }}"
						title="{{ li.txt }}"
						eleventy:widths="100"
						loading="eager"
						decoding="auto"
					/>
					{% else %} {{ li.txt }} {% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
		<!-- prettier-ignore -->
		{% if altLangs %}
		<div class="f-gap-s-2 flex shrink-0 flex-nowrap whitespace-nowrap">
			{% for item in altLangs %} {% if item.isSelf %}
			<span><strong>{{item.hreflang | upper}}</strong></span>
			{% else %}
			<a href="{{item.href}}">{{item.hreflang | upper}}</a>
			{% endif %} {% endfor %}
		</div>
		{% endif %}
	</nav>
</header>

<!-- {{'ctxc-contrast' if ariaCurrent != 'false'}} -->
