---
pageRef: "partnerships/st-luc-liege-2024"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
metadata:
  title: "Partenariat St-Luc Liège 2024 | ALBUM le jeu"
  description: "St-Luc Liège a tenté l'aventure. Une classe de 4ème année de la section photographie réalise son ALBUM pour personaliser le jeu."
---

<article class="stack f-pb-s3 [--gap-stack:var(--f-s0)]">
	{#
	<div class="frame full-bleed [--aspect-ratio:16/5] [--full-bleed-max-width:2000px]">
		<img
			src="/album/_images/saint-luc-cover1024x686.png"
			alt="Photo de l'école Saint-Luc Liège"
			class="w-full"
		/>
	</div>
	#}
	<header class="with-sidebar f-py-s1 f-gap-s1 items-end [--width-sidebar:300px]">
		<div
			class="frame *:h-100% xs:[--frame-rotate:-10deg] max-w-[min(100%,300px)] rotate-[var(--frame-rotate,0deg)] shadow-md [--aspect-ratio:5/4] [border:solid_var(--f-s-4)_white]"
		>
			<img
				src="/album/_images/saint-luc-cover1024x686.png"
				alt="Photo de l'école Saint-Luc à Liège"
				class="h-100% object-cover"
				eleventy:widths="300"
			/>
		</div>
		<h1 class="font-bums"><span class="h3">Partenariat:</span><br />St-Luc Liège 2024</h1>
	</header>

	<div class="m-auto max-w-3xl">
		<p>
			Lundi 3 juin, nous avons eu le plaisir de présenter le jeu "Album" à une classe de 4ème année
			de la section photographie de l'Institut Saint-Luc à Liège. Cette matinée d'animation avait
			pour but principal de répondre à trois objectifs majeurs.
		</p>
		<ul class="p stack f-pl-s0 *:[--gap-stack:var(--f-s-3)]">
			<li>
				Sensibiliser les jeunes et développer leur capacité d'écoute : Notre objectif était
				d'introduire les jeunes au concept du jeu coopératif afin de favoriser l'échange et l'écoute
				au sein du groupe. Encourager le développement des compétences sociales chez les
				adolescents, qui sont à un stade crucial de leur acquisition, est au cœur de la mission
				d'Act in Games. L'environnement scolaire se prête parfaitement à cet exercice, permettant de
				confronter nos jeux à un public qui peut être exigeant.
			</li>
			<li>
				Familiariser nos artistes avec notre approche : Dans le cadre d'un partenariat avec
				l'Institut Saint-Luc, nous offrons aux étudiants la possibilité de s'immerger dans le monde
				d'un jeu de société et de réaliser leurs premières œuvres professionnelles. En fournissant
				des photographies spécialement conçues pour le jeu, ils pourront enrichir une galerie
				virtuelle accessible aux joueurs d'Album afin de remplacer les cartes de base du jeu. Les
				impliquer dans une partie du jeu nous a permis de les confronter au défi de créer des images
				lisibles et adaptées à ce contexte ludique spécifique.
			</li>
			<li>
				Créer du contenu pour nos réseaux sociaux : Grâce aux instants capturés lors de cette
				rencontre et au projet à long terme mis en place avec la section photographie de Saint-Luc,
				nous allons promouvoir le travail d'artistes belges sur nos plateformes sociales. Dans un
				contexte où l'intelligence artificielle suscite de vives discussions, nous souhaitons
				encourager de manière enthousiaste la créativité artistique humaine.
			</li>
		</ul>
		<p>
			Des projets transversaux comme celui-ci sont une plateforme formidable en termes de
			communication et de co-création qui servent autant Act in games que les partenaires chez
			lesquels nous intervenons.
		</p>
	</div>
	<video
		width="320"
		height="568"
		controls
		muted
		preload="metadata"
		poster="/assets/videos/thumbnail-st_luc_liege.jpeg"
		class="m-auto"
	>
		<source
			src="/assets/videos/Trailer-partenariat-Saint_Luc_liege-min-640x1136.webm"
			type="video/webm"
		/>
		<source
			src="/assets/videos/Trailer-partenariat-Saint_Luc_liege-min-640x1136.mp4"
			type="video/mp4"
		/>
	</video>
</article>
