---
title: "Associatif humain créatif engagé | Album"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
sectionList:
  [
    { href: "#values", txt: "valeurs" },
    { href: "#services", txt: "services" },
    { href: "#contact", txt: "contact" },
  ]
head: |
  <meta name="description" content="" />
---

{# {% extends "./_layouts/base.njk" %} {% block content %} #}
<main>
	<!-- Heading Group -->
	{# {% include "./_partials/index/heading-group.html" %} #}
	<h1>Hello {{srcDir}}</h1>
</main>
{# {% endblock %} #}
