<section id="contact" class="flex-1 mx-auto max-w-7xl py-210">
  <div class="mx-auto w-full py-28 xl:grid xl:grid-cols-menuxl xl:grid-rows-1">
    <h2
      class="text-brun uppercase text-center w-full mx-auto text-5xl mb-10 xl:col-start-1 xl:col-end-2 sideways-lr xl:mb-0 xl:text-end xl:text-7xl"
    >
      Contact
    </h2>
    <div class="xl:w-[956px] xl:col-start-2 xl:col-end-3">
      <form
      action="#"
      class="flex flex-col w-[300px] sm:w-[500px] mx-auto space-y-20"
    >
      <div class="w-full flex flex-col">
        <label for="firstname" class="text-brun">Prénom</label>
        <input type="text" class="bg-arriereplan border-b-2 border-brun focus:outline-none" required/>
      </div>

      <div class="w-full flex flex-col">
        <label for="email" class="text-brun">Mail</label>
        <input type="email" class="bg-arriereplan border-b-2 border-brun focus:outline-none" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
      </div>
      <div class="w-full flex flex-col">
        <label for="message" class="text-brun">Message</label>
        <textarea
          name="message"
          id="message"
          class="bg-arriereplan border-2 border-brun resize-none h-60 rounded-md focus:outline-none"
          required></textarea>
        <button
          type="submit"
          class="mt-5 bg-brun text-arriereplan py-3 rounded-md"
        >
          Envoyer
        </button>
      </div>
    </form>
    </div>
    
  </div>
</section>
