<section
	id="contact"
	class="ctxs-massive f-py-s3+2 f-gap-s-1 flex flex-col items-start text-sand md:flex-row md:gap-0"
>
	<h2 class="md:sideways-lr uppercase md:-mr-[1em]">Contact</h2>
	<div class="m-auto w-full max-w-sm">
		<form action="https://m4rrc0-mookai_contact.web.val.run" method="POST" class="stack f-gap-s0">
			<div class="form-group flex flex-col">
				<label for="firstname">Prénom</label>
				<input id="firstname" name="firstname" type="text" class="" />
			</div>
			<div class="form-group flex flex-col">
				<label for="email">E-mail</label>
				<input id="email" name="email" type="email" class="" />
			</div>
			<div class="form-group flex flex-col">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="10"></textarea>
			</div>
			<input type="submit" value="Envoyer" class="uppercase" />
		</form>
	</div>
</section>
