<hgroup>
	<h1
		class="text-sanguine mb-8 mt-28 text-center font-chantal text-3xl md:text-4xl lg:mt-36 lg:text-5xl"
	>
		Une ASBL qui a du sens
	</h1>

	<p class="mx-5 mb-5 mt-5 text-center text-xl sm:text-2xl">
		<span class="font-bold">Collaborations</span> créatives dans le but d’œuvrer pour le
		<span class="font-bold">bien commun</span>
	</p>

	<!-- <p class="mx-auto text-center mt-5 mb-5 w-[520px]">Conceptions graphiques, développement web et stratégies marketings éco-responsables pour un <span class="relative countainer"><span class="inline-block bg-transparent">succès durable</span><span class="block absolute h-3/4 bg-sanguine"></span></span></p> -->
	<p class="mx-10 mb-10 mt-5 text-center sm:mx-auto sm:w-[520px]">
		Conceptions graphiques, développement web et stratégies marketings éco-responsables pour un
		<span class="relative">
			<mark class="relative z-10">succès durable</mark>
			<!-- <span class="bg-orange absolute bottom-0 left-1 h-1/2 w-full"></span> -->
		</span>
	</p>
	<div class="bg-hero-pattern h-96 w-full bg-cover bg-center bg-no-repeat"></div>
	<!-- <img src="" alt="reunion entre membres de Mookai et clients"> -->
</hgroup>
