<hgroup id="heading-group" class="center text f-py-s5+2 stack max-w-3xl">
	<h1 class="font-chantal text-coral">
		<span class="inline-block">Associatif humain</span>
		<span class="inline-block">créatif engagé</span>
	</h1>

	<p class="h3">
		<strong>Collaboration</strong> créative pour les projets de
		<strong>bien commun</strong>
	</p>

	<div class="center max-w-xl" style="--gap-stack: var(--_f-s3)">
		<p>
			Vous avez des <mark><strong>projets durables concrets</strong></mark> pour
			<mark><strong>faire bouger le monde</strong></mark
			>?
		</p>
		<p>
			Vous voulez <mark><strong>collaborer</strong></mark> avec une équipe
			<mark><strong>créative</strong></mark> et <mark><strong>engagée</strong></mark
			>?
		</p>
	</div>
	<div>
		<a href="#contact" class="button ctxc-coral">Racontez-nous!</a>
	</div>
</hgroup>
