<hgroup class="center text f-py-s5+2 stack max-w-3xl">
	<h1 class="font-chantal text-coral">Humains créatifs engagés</h1>

	<p class="h3">
		<strong>Collaboration</strong> créative pour les projets de
		<strong>bien commun</strong>
	</p>

	<p class="center max-w-xl" style="--gap-stack: var(--_f-s3)">
		Vous avez des <mark><strong>projets concrets</strong></mark> pour
		<mark><strong>faire bouger le monde</strong></mark
		>?
	</p>
	<div>
		<a href="#contact" class="button ctxc-coral">Racontez-nous!</a>
	</div>
</hgroup>
