{% from 'svg/hero-img-svg.njk' import heroImg %}

<div class="full-bleed f-py-s2+1 bg-mouse-light">
	{{ heroImg(width = '100%', height='auto', class = 'max-w-5xl mx-auto') }} {# {% include
	"svg/undraw_engineering_team.njk" %} #}
</div>
