<section>
	<h2>Services</h2>
	<div class="services stack md:gap-fluid-0 [&_summary::marker]:text-[0px]">
		<details open>
			<summary class="uppercase">
				<h3 class="inline">Développement web</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
		<details>
			<summary class="uppercase">
				<h3>Graphisme</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
		<details>
			<summary class="uppercase">
				<h3>Analytics</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
		<details>
			<summary class="uppercase">
				<h3>SEO</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
		<details>
			<summary class="uppercase">
				<h3>Digitalisation</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
		<details>
			<summary class="uppercase">
				<h3>Formations</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
		<details>
			<summary class="uppercase">
				<h3>Conférences</h3>
			</summary>
			<div class="details-text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure, temporibus
					similique reprehenderit culpa architecto quasi ea minima. Laborum dolores saepe quisquam
					dolor cumque amet soluta architecto earum. Cupiditate, labore.
				</p>
			</div>
		</details>
	</div>
</section>
