<section id="services" class="f-py-s3+2 text-coral">
	<div class="f-gap-s-1 flex flex-col items-start lg:flex-row">
		<h2 class="ctxs-massive lg:sideways-lr uppercase">Services</h2>
		<accordeon-details class="services-accordeon stack [&_summary::marker]:text-[0px]">
			<details open>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">Développement web</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p>
						On fait des sites web et applications en éco-conception pour
						<strong>diminuer l'impact écologique de vos outils digitaux</strong>. Ce qui est cool,
						c'est que ça a aussi un impact super positif sur les performances de votre site,
						l'expérience utilisateur, le référencement, … la totale&nbsp;!
					</p>
					<p>Et qui dit approche durable, dit aussi <strong>accessibilité</strong>.</p>
					<p>
						Notre solution favorite n'est pas WordPress. WordPress est gourmand en énergie et
						difficile à optimiser donc on préfère éviter.
					</p>
					<p>
						Mais ça veut dire qu'on a beaucoup de flexibilité pour implémenter la solution qui vous
						convient et si vous voulez du “clé en main”,
						<strong> poko est notre website builder écologique favori</strong>&nbsp;! Normal, c'est
						nous qui le développons en mutualisant le travail entre tous les beaux projets que nous
						soutenons et qui nous soutiennent en retour.
					</p>
				</div>
			</details>
			<details>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">Graphisme</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p>
						Le graphisme, c'est la partie de votre comm' qui saute aux yeux !
						<strong> Autant faire en sorte que ça en jette, non?! </strong>
					</p>
					<ul>
						<li>Logo</li>
						<li>Identité graphique</li>
						<li>Maquette web</li>
						<li>Magazine</li>
						<li>Flyers</li>
						<li>Rapport annuel</li>
						<li>…</li>
					</ul>
					<p>On peut faire tout ça et on écoute vos besoins avant de se lancer.</p>
					{#
					<p>Pour nous, la comm' s'articule autour de 3 parties prenantes:</p>
					<ul>
						<li>
							l'audience - les personnes qui bénéficient de vos services, leurs besoins, leurs
							valeurs, …
						</li>
						<li>le fournisseur de service - vous, vos valeurs, vos goûts, votre mission</li>
						<li>le créatif - nous, notre sensibilité, notre écoute et notre perspective</li>
					</ul>
					#}
					<p>
						Notre but est de créer le chemin le plus direct possible entre vous et votre public avec
						les moyens à notre disposition.
					</p>
				</div>
			</details>
			<details>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">SEO</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p>Le <strong>référencement dans les moteurs de recherche</strong>… Quel bazar !!</p>
					<p>
						On peut vous aider à y voir plus clair et vous
						<strong>conseiller pour l'optimiser</strong>.
					</p>
					<p>On peut notamment travailler avec vous sur:</p>
					<ul>
						<li>vos contenus</li>
						<li>les aspects techniques de votre site</li>
						<li>la mise en place d'outils d'analyse</li>
						<li>…</li>
					</ul>
				</div>
			</details>
			<details>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">Copywriting</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p>
						<strong>La rédaction de contenu</strong>, c'est pas pour tout le monde. Et parfois,
						quand on baigne dans son domaine d'activité jusqu'au cou, on est pas le mieux placé pour
						en parler. Dans ce genre de cas, le mieux est de faire appel à un
						<em>"traducteur"</em> pour
						<strong>transformer votre jargon en phrases percutantes</strong> pour votre audience.
					</p>
				</div>
			</details>
			<details>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">Digitalisation</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p><em>“Tu as rangé où le PV de la dernière AG?”</em></p>
					<p><em>“C'est quelle version du document Excel que je dois ouvrir?”</em></p>
					<p><em>“C'est quand la prochaine réunion?”</em></p>
					<p>Si vous vous reconnaissez, on peut vous aider. 😉</p>
					<p>Digitaliser ses processus = sérénité (si c'est bien fait, évidemment).</p>
					<p>Il y a plusieurs options pour avancer dans ce domaine:</p>
					<ul>
						<li>mise en place d'outils</li>
						<li>formations</li>
						<li>coaching</li>
						<li>immersion</li>
						<li>…</li>
					</ul>
				</div>
			</details>
			<details>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">Formations</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p class="text-curcuma-darker">On est passionnés.</p>
					<p class="text-black">On est engagés.</p>
					<p class="text-coral-dark">On cherche sans cesse à s'améliorer.</p>
					<p class="text-sand-dark">On adore partager.</p>
					<p>Du coup, on propose des formations&nbsp;!</p>
					<ul>
						<li>Créer ou gérer son site web</li>
						<li>préparer des visuels pour les réseaux sociaux</li>
						<li>optimiser son référencement</li>
						<li>améliorer son organisation personnelle ou l'organisation interne de ses équipes</li>
						<li>…</li>
					</ul>
					<p>… autant de sujets que l'on peut aborder en formation ou en coaching individuel.</p>
				</div>
			</details>
			<details>
				<summary class="flex uppercase">
					<h3 class="f-text-s2 text-coral-dark">Conférences</h3>
				</summary>
				<div class="details-text stack [&>p]:f-text-s-0.5" style="--gap-stack: 0.3em">
					<p>
						Vous voulez qu'on vienne parler d'un sujet pointu qui nous passionne? Contactez-nous!
					</p>
				</div>
			</details>
		</accordeon-details>
	</div>
	<div class="stack center box no-border f-p-s-2+4 b-3 f-my-s3" style="--max-width: max-content">
		<div class="cluster xs:justify-center p-0">
			<a href="#contact" class="button ctxc-coral ctxc-contrast">Prenez rdv</a>
			<a href="#contact" class="button ctxc-coral ctxc-accent-contrast">Demandez un devis</a>
		</div>
		<p class="xs:text-center">C'est gratuit et vous verrez, c'est cool de parler à un humain. 😉</p>
	</div>
</section>

<script defer>
	customElements.define(
		"accordeon-details",
		class extends HTMLElement {
			constructor() {
				super();
				this.detailsElems = this.querySelectorAll("details");
				this.lastClicked = undefined;
				const self = this;

				this.addEventListener("click", this);

				this.detailsElems.forEach(function (elem) {
					elem.addEventListener("click", function (event) {
						self.lastClicked = this;
					});
				});
			}
			handleEvent(event) {
				this.detailsElems.forEach((elem) => {
					if (elem.open && elem !== this.lastClicked) {
						elem.open = false;
					}
				});
			}
		}
	);
</script>
