<section>
    <div class="max-w-7xl mx-auto py-32 px-10 xl:pe-[4.5rem] xl:grid xl:grid-cols-apropos">


        <h2
        class="uppercase transform text-center text-brunclair w-full mx-auto text-5xl -mt-3 mb-10 lg:col-start-1 lg:col-end-3 sideways-lr xl:text-end xl:mb-0 xl:text-7xl xl:col-start-1 xl:col-end-2"
        >
        team
        </h2>
        
        <div class="pb-20 mb-4 max-w-full overflow-hidden">
            <div class="flex overflow-x-scroll gap-[100px]">
                <div class="flex-shrink-0 w-[227px]">
                    <div class="relative flex flex-col mt-12">
                        <h3 class="absolute w-[247px] h-[247px] text-end text-brunclair border-brunclair border-4 text-3xl font-bold uppercase p-4 -right-12 -top-12">Marc</h3>
                        <img src="/assets/images/Marc.jpg" alt="Marc Coet croque la vie à pleines dents" class="mb-4">
                        <ul class="list-disc list-inside text-brunclair mb-4">
                            <li>Stratégie</li>
                            <li>Architecture d’information</li>
                            <li>Sites web</li>
                        </ul>
                        <p class="mb-4">Marc est curieux, intelligent et plein de ressources. Il est passionné par l’apprentissage et conscient du monde qui l’entoure. Il trouve toujours les bons mots réhaussés d’une touche personnelle pleine de créativité.</p>
                        <div class="flex flex-row mt-2 text-brunclair mb-4">
                            <a href="#" class="hover:text-deums">
                              {% include "svg/facebook_icon.njk" %}
                            </a>
                    
                            <a href="#" class="hover:text-deums mx-4">
                            {% include "svg/youtube_icon.njk" %}
                            </a>
                    
                            <a href="#" class="hover:text-deums">
                              {% include "svg/instagram_icon.njk" %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex-shrink-0 w-[227px]">
                    <div class="relative flex flex-col mt-12">
                        <h3 class="absolute w-[247px] h-[247px] text-end text-brunclair border-brunclair border-4 text-3xl font-bold uppercase p-4 -right-12 -top-12">Tess</h3>
                        <img src="/assets/images/Tess.jpg" alt="Tess visualise ses prochaines créations" class="mb-4">
                        <ul class="list-disc list-inside text-brunclair mb-4">
                            <li>Identité visuelle</li>
                            <li>Travail artistique personnalisé</li>
                            <li>Design & Mise en page</li>
                        </ul>
                        <p class="mb-4">Tess est plus qu’une graphiste. Elle est artiste avant tout. De la photographie à la peinture en passant par l’illustration. Elle expérimente tous les jours la transformation des formes et des couleurs en émotions.</p>
                        <div class="flex flex-row mt-2 text-brunclair mb-4">
                            <a href="#" class="hover:text-deums">
                              {% include "svg/facebook_icon.njk" %}
                            </a>
                    
                            <a href="#" class="hover:text-deums mx-4">
                            {% include "svg/youtube_icon.njk" %}
                            </a>
                    
                            <a href="#" class="hover:text-deums">
                              {% include "svg/instagram_icon.njk" %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex-shrink-0 w-[227px]">
                    <div class="relative flex flex-col mt-12">
                        <h3 class="absolute w-[247px] h-[247px] text-end text-brunclair border-brunclair border-4 text-3xl font-bold uppercase p-4 -right-12 -top-12">M4rrc0</h3>
                        <img src="/assets/images/Marco.jpg" alt="M4rrc0 juste après avoir hacké Publifin" class="mb-4">
                        <ul class="list-disc list-inside text-brunclair mb-4">
                            <li>Doppelganger</li>
                            <li>Hacker Pro</li>
                            <li>Sites bancaires</li>
                        </ul>
                        <p class="mb-4">Dark Marco est recherché par Interpol car trop curieux, intelligent et plein de ressources. Il est passionné par le deepweb et conscient qu’il peut agir sur le monde de la finance. Il trouve toujours les bons mots pour encourager ses zélotes à finir son hackathon.</p>
                        <div class="flex flex-row mt-2 text-brunclair mb-4">
                            <a href="#" class="hover:text-deums">
                              {% include "svg/facebook_icon.njk" %}
                            </a>
                    
                            <a href="#" class="hover:text-deums mx-4">
                            {% include "svg/youtube_icon.njk" %}
                            </a>
                    
                            <a href="#" class="hover:text-deums">
                              {% include "svg/instagram_icon.njk" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        </div>
    </div>
</section>