<section id="temoignages" class="flex-1 w-full bg-temoin">
    <div class="max-w-7xl mx-auto py-20 px-10 lg:grid lg:grid-cols-2 xl:pe-[4.5rem] xl:grid-cols-temoignage">

        <h2
        class="text-sanguine uppercase transform text-center w-full mx-auto text-5xl mb-10 lg:col-start-1 lg:col-end-3  sideways-lr xl:-mt-28 xl:text-end xl:mb-0 xl:text-7xl xl:col-start-1 xl:col-end-2"
        >
        Témoignages
        </h2>
        <div class="flex flex-col">
            <div class="flex flex-row">
                <img src="/assets/images/perso.png" alt="personnage" class="object-scale-down me-10 self-end">
                <div class="flex flex-col">
                    <p> A l'écoute de tes envies mais authentique et compétente. Son Graphisme est pertinent, magnifique et unique.
    
                    </p>
                    <div class="flex flex-row">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                    </div>
                    <p><span class="text-sanguine font-semibold">Gilles</span> - The Southern Experience
                    </p>
                </div>
            </div>
            <div class="flex flex-row mt-10">
                <img src="/assets/images/perso.png" alt="personnage" class="object-scale-down me-10 self-end">
                <div class="flex flex-col">
                    <p> Travailler avec Tess a été une découverte magnifique. Dès le début, son approche claire et sa proximité m'ont mis en confiance. Elle est sensible, inventive, disponible et respecte parfaitmenet les délais. Une collaboration réjouissante.
    
                    </p>
                    <div class="flex flex-row">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-white.png" alt="étoile de notation" class="w-7 h-7">
                    </div>
                    <p class="text-sanguine font-semibold">Annie Lalé
                    </p>
                </div>
            </div>
        </div>
        <div class="relative">
            <div class="flex flex-row mt-10 xl:absolute top-[-2.5rem]">
                <img src="/assets/images/perso.png" alt="personnage" class="object-scale-down me-10 self-end">
                <div class="flex flex-col self-end">
                    <p> Sur base d'une illustration crayonnnée, Tess a su déployer ses talents pour en faire un logo magnifique et fidèle à l'histoire racontée par l'original.<br>Je recommande Tess Hadri sans hésitation à ceux qui souhaitent avoir un travail de qualité fait par une professionnelle à l'écoute et disponible pour son client. Logo, site web, carte de visite, ... tout est au top!<br>C'est très chouette de collaborer avec toi, c'est un peu comme de la magie, on se parle, tu écoutes et hop tu crées comme si l'image passait d'une tête à l'autre. <br> Merci !
    
                    </p>
                    <div class="flex flex-row">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                        <img src="/assets/images/star-oj.png" alt="étoile de notation" class="w-7 h-7">
                    </div>
                    <p><span class="text-sanguine font-semibold">Florence</span> - Thérapie Nature
                    </p>
                </div>
            </div>
        </div>
        
        

    </div>
    
    </form>
  </section>