<section id="temoignages" class="flex-1 w-full bg-transparent z-10 -mt-10 -mb-10">
    <div class="max-w-7xl mx-auto lg:grid lg:grid-cols-2 xl:grid-cols-valeurs xl:grid-rows-vals text-arriereplan">
        <h2
        class="ml-10 text-piedpage uppercase transform text-center w-full mx-auto text-5xl xl:col-start-1 xl:col-end-2 sideways-lr xl:-mt-4 xl:text-end xl:mb-0 xl:text-7xl xl:col-start-1 xl:col-end-2 xl:row-start-1 xl:row-end-8 "
        >
        Valeurs
        </h2>
        <div class="flex flex-col justify-center xl:col-start-2 xl:col-end-3 bg-sanguine xl:row-start-2 xl:row-end-8">
            <h3 class="ms-8 text-6xl uppercase text-start w-2/3 break-words mb-6 leading-tight">Authen&shy;ticité</h3>
            <p class="ms-8 w-8/12 text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, cupiditate error accusamus libero neque ipsa laboriosam reprehenderit aut quas quis voluptates incidunt obcaecati adipisci cum nulla.</p>
        </div>
        <div class="flex items-center justify-center xl:col-start-3 xl:col-end-4 bg-deums xl:row-start-1 xl:row-end-7">
            <h3 class="text-6xl text-center uppercase leading-tight">Qualité</h3>
        </div>
        <div class="flex items-center xl:col-start-4 xl:col-end-5 bg-brunclair xl:row-start-2 xl:row-end-6">
            <h3 class="text-6xl text-start uppercase break-words ms-8 w-3/4 leading-tight">No&shy;Bullshit</h3>
        </div>
        <div class="flex items-center xl:col-start-1 xl:col-end-3 bg-piedpage xl:row-start-8 xl:row-end-12">
            <h3 class="ml-auto mr-10 ps-30 text-6xl text-start uppercase break-words w-8/12 leading-tight">Eco&shy;Conception</h3>
        </div>
        <div class="flex items-center justify-center xl:col-start-3 xl:col-end-4 bg-beige xl:row-start-7 xl:row-end-13">
            <h3 class="text-6xl text-center uppercase -mt-20 leading-tight">Good Vibes</h3>
        </div>
        <div class="flex items-center bg-bordeau xl:col-start-4 xl:col-end-5 xl:row-start-6 xl:row-end-10">
            <h3 class="text-6xl text-start uppercase ms-8 leading-tight">Impact Positif</h3>
        </div>
    </div>
  </section>