<section
	class="ctxs-massive f-py-s3+2 f-gap-s-1 flex flex-col items-start lg:-mt-[--\_f-s6] lg:flex-row"
>
	<h2 class="lg:sideways-lr uppercase leading-neg-25">Valeurs</h2>
	<div class="boxes-values">
		<div class="box-true f-min-h-s9 f-p-s2 bg-coral-mid text-white">
			<h3 class="h4 uppercase">Authen&shy;ticité</h3>
			<p class="f-text-s-0.5 leading-none">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deleniti, molestiae sequi
				cum minima consequatur necessitatibus labore temporibus delectus nesciunt asperiores ex
				perspiciatis praesentium unde neque. Excepturi molestias maiores mollitia!
			</p>
		</div>
		<div class="box-eco f-min-h-s8.5 f-py-s2 flex items-center bg-aubergine text-white">
			<h3 class="h4 uppercase">Eco-conception</h3>
		</div>
		<div
			class="box-quality f-min-h-s10 f-p-s2 f-pt-s4 flex items-center justify-center bg-curcuma text-white"
		>
			<h3 class="h4 text-center uppercase">Qualité</h3>
		</div>
		<div
			class="box-vibes f-min-h-s10 f-p-s2 flex items-center justify-center bg-sand-dark text-white"
		>
			<h3 class="h4 text-center uppercase">Good Vibes</h3>
		</div>
		<div class="box-empty hidden lg:block"></div>
		<div class="box-bs f-min-h-s9 f-p-s2 flex items-center bg-sand-light text-white">
			<h3 class="h4 uppercase">No-bullshit</h3>
		</div>
		<div class="box-impact f-min-h-s9 f-p-s2 flex items-center bg-coral-dark text-white">
			<h3 class="h4 uppercase">Impact Positif</h3>
		</div>
	</div>
</section>
