---
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
redirects:
  - from: /
metadata:
  title: "ALBUM: L'émotion d'une photo. L'intensité d'un mot."
  description: "Développez votre connaissance de vous et des autres autour d'un défi coopératif sur les ressentis et les interprétations de chacun·e"
head: |
  <link rel="stylesheet" href="/assets/css/lite-yt-embed.css" />
  <script src="/assets/js/lite-yt-embed.js" async></script>
---

{# # default: "website" // Accepts: article, product, website #} {# {% extends "./_layouts/base.njk"
%} {% block content %} #} {#
<aside class="eco-badge ctxc-default">
	<p>
		<span class="loud">A+</span>
		<a
			href="https://www.websitecarbon.com/website/album-actingames-com-fr/"
			target="_blank"
			rel="noopener"
			>websitecarbon.com</a
		>
	</p>
</aside>
#}
<main class="stack f-py-s3+2 f-gap-s6 [--gap-stack:0]">
	<hgroup
		class="stack items-center *:[--gap-stack:var(--f-s0)] [&>picture]:[--gap-stack:var(--f-s5)]"
	>
		<h1 class="">
			<img
				src="/album/_images/ALBUM_2024_logo_2000.png"
				alt="Album"
				eleventy:widths="300"
				loading="eager"
				decoding="auto"
			/>
		</h1>
		<p class="h4 font-bums">L'émotion d'une photo. L'intensité d'un mot.</p>
		<p class="cluster justify-center [--gap-stack:var(--f-s2)]">
			<span class="font-bums ctxc-contrast ctxc-accent badge">Coopératif</span>
			<span class="font-bums ctxc-contrast ctxc-accent badge">Communication</span>
			<span class="font-bums ctxc-contrast ctxc-accent badge">Interprétation</span>
		</p>
		<img
			src="/album/_images/ALBUM_BOX3D_droite_2000.png"
			alt="La boite du jeu Album"
			eleventy:widths="400"
			loading="eager"
			decoding="auto"
			class="m-auto"
		/>
		<p class="m-auto max-w-xl text-center">
			<strong>
				Album est un jeu de <em>développement de la connaissance de soi et des autres</em>.
				Retrouvez vous autour d'un défi coopératif sur les ressentis et les interprétations de
				chacun·e. Voyagez à travers des photographies artistiques et symboliques. Chaque
				photographie est le point de vue d'un photographe (en chair en en os). 🤯
			</strong>
		</p>
	</hgroup>

	<div class="w-100% m-auto max-w-[640px]">
		<lite-youtube
			videoid="RC7wJjgflZA"
			playlabel="Play: Ludochrono - Album"
			style="background-image: url(&quot;https://i.ytimg.com/vi/RC7wJjgflZA/sddefault.jpg&quot;)"
		>
			<a
				href="https://youtube.com/watch?v=RC7wJjgflZA"
				target="_blank"
				rel="noopener"
				class="lty-playbtn"
				title="Play Video"
			>
				<span class="lyt-visually-hidden">Play Video: Ludochrono - Album</span>
			</a>
		</lite-youtube>
	</div>

	<section class="game-description stack full-bleed-before *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Description du jeu</h2>
		<img
			src="/album/_images/ALBUM_ECLATE_up_2000.png"
			alt="Album: le jeu. Vue éclatée du matériel."
			eleventy:widths="500"
			class="m-auto"
		/>
		<p class="m-auto max-w-prose">
			<strong>
				Parmi 5 photos, une seule doit rester visible en fin de manche. Pour vous aider, des mots
				sont placés sur une échelle d'intensité, tels de subjectifs indices. Album est un jeu
				coopératif où l'échange et l'écoute des points de vue sont les clés de la réussite.
			</strong>
		</p>
		<p class="m-auto max-w-prose">
			Vous devez réaliser un Album photo collectif sur base du meilleur consensus. Chaque photo
			raconte un point de vue (de photographe) qui peut se traduire par de singulière et différentes
			histoires (selon la personne). Saurez-vous retrouver la photo initiale en ayant pour seuls
			indices, le regard (subjectif) d'une personne&nbsp;?!
		</p>
		<details class="box no-border ctxc-contrast rounded-md">
			<summary class="p">
				<span>La règle plus en détail</span>
				{% include "src/album/_svg/simple-arrow-down.njk" %}
			</summary>
			{#
			<hr />
			#}
			<div
				class="box no-border ctxc-default [&>p]:f-text-s-0.5 [&>p+p]:f-mt-s-4 mt-2 rounded-md leading-tight *:[--gap-stack:var(--f-s-6)]"
			>
				<img
					src="/album/_images/ALBUM_BOX_back_2000.jpg"
					alt="Explication des règles à l'arrière de la boite de jeu"
					class="xs:f-px-s-1 w-100% xs:w-[min(50%,450px)] f-mb-s0 float-right"
					eleventy:widths="450"
				/>

				<p>
					C'est l'heure de créer un album collectif et c'est à votre tour de faire retenir une photo
					aux autres !
				</p>
				<p>
					Mais pas question d'imposer son choix, il faut que tout le monde s'entende et s'accorde.
				</p>
				<p>Vous piochez une photo que vous observez secrètement et tranquillement.</p>
				<p>
					Vous vous en imprégnez...en même temps que vous piochez et placez, un à un, un mot - qui
					deviendra un précieux indice - sur une échelle d'intensité de 0 à 5.
				</p>
				<p>
					Selon vous, ce mot est plutôt pas (0), peu (1ou 2) ou très (4 ou 5) présent/représenté sur
					la photo ?
				</p>
				<p>"De l'Aventure, il y en a pour moi sur cette photo ?</p>
				<p>Oui énormément !</p>
				<p>Je place le mot au niveau 4 de l'échelle !"</p>
				<p>Question de perspective, d'histoire personnelle ou tout simplement de ressenti.</p>
				<p>
					Les autres réussiront-ils à se projeter à votre place et se mettre au diapason de votre
					regard ?
				</p>
				<p>A chaque tour, une photo est éliminée. Parmi 5 photos, une seule est valable !</p>
			</div>
		</details>
		<div class="cluster justify-center">
			<a
				href="/assets/documents/ALBUM_2024_RULES_240424-low.pdf"
				class="button ctxc-contrast font-bums text-center"
				target="_blank"
				>Règles du jeu <small class="block">(PDF)</small></a
			>
			<a
				href="https://unjeudansmaclasse.com/?page=article&id_article=123&lang=fr"
				class="button font-bums text-center"
				target="_blank"
				rel="noopener"
				>Fiche pédagogique <small class="block">(un jeu dans ma classe)</small></a
			>
		</div>
	</section>

	<section class="technical-info stack full-bleed-before ctxc-contrast *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Fiche Technique</h2>
		<div
			class="box stack w-100% polaroid m-auto max-w-sm [--content-min:60%] [box-shadow:var(--shadow-3)]"
		>
			<div class="with-sidebar items-center">
				{#
				<img
					src="/album/_images/pictos/Album-picto_age-min.svg"
					alt="Age recommandé"
					eleventy:formats="auto"
					eleventy:widths="100"
					class="max-h-[50px] w-[fit-content]"
				/>
				#}
				<div class="frame h-[50px] [--aspect-ratio:16/9]">
					{% include "../_svg/Album-picto_age-min.njk" %}
				</div>
				<div class="stack [--gap-stack:0.2rem]">
					<p class="f-text-s-1">À partir de <strong>8 ans</strong> accompagné</p>
					<p class="f-text-s-1">À partir de <strong>10 ans</strong> seul</p>
				</div>
			</div>
			<div class="with-sidebar items-center">
				{#
				<img
					src="/album/_images/pictos/Album-picto_players-min.svg"
					alt="Nombre de joueurs recommandé"
					eleventy:formats="auto"
					eleventy:widths="100"
					class="max-h-[50px] w-[fit-content]"
				/>
				#}
				<div class="frame h-[50px] [--aspect-ratio:16/9]">
					{% include "../_svg/Album-picto_players-min.njk" %}
				</div>
				<p class="f-text-s-1">pour <strong>2 à 6 joueurs</strong></p>
			</div>
			<div class="with-sidebar items-center">
				{#
				<img
					src="/album/_images/pictos/Album-picto_time-min.svg"
					alt="Temps de partie estimé"
					eleventy:formats="auto"
					eleventy:widths="100"
					class="max-h-[50px] w-[fit-content]"
				/>
				#}
				<div class="frame h-[50px] [--aspect-ratio:16/9]">
					{% include "../_svg/Album-picto_time-min.njk" %}
				</div>
				<p class="f-text-s-1"><strong>30 minutes</strong></p>
			</div>
		</div>
	</section>
	{#
	<section class="stack *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Témoignages et premières impressions</h2>
		<blockquote>
			<p>
				Après le premier tour de jeu, j'ai immédiatement su que ce jeu pouvait être une pépite pour
				la ligne éditoriale de Act in games. J'avais eu la même conviction immédiate lorsque j'ai
				joué à Feelings pour la première fois. Ca a été un vrai coup de coeur personnel.”
			</p>
			<footer>—Thibaut (Éditeur)</footer>
		</blockquote>
		<blockquote>
			<p>
				Jouer Album, c'est partager notre perception du monde. Aucune bonne réponse, juste la
				sienne&nbsp;!
			</p>
			<footer>—Karine Minidre (Autrice)</footer>
		</blockquote>
		<blockquote>
			<p>La photo ça change des illustrations, et ça nourrit un autre panel d'artistes.</p>
			<footer>—Maud Chalmel (Illustratrice)</footer>
		</blockquote>
		<blockquote>
			<p>
				Quel plaisir d'animer Album et de voir l'interaction qu'il suscite entre les joueurs. Entre
				rires, stupéfactions, raisonnements logiques ou loufoques, le jeu propose un réel challenge
				et un moment de partage très intense et convivial.
			</p>
			<footer>—Yvan Ciarafoni (Animateur Professionnel)</footer>
		</blockquote>
	</section>
	#}
	<section class="created-by full-bleed-before stack *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Un jeu créé par…</h2>
		<article class="with-sidebar ctxc-accent items-start bg-transparent [--content-min:70%]">
			<div>
				<div class="ctxc-default f-p-s-4 w-[min(100%,200px+var(--f-s-4)*2)] text-center shadow-md">
					<div class="frame w-[fit-content] rounded-md [--aspect-ratio:1]">
						<img
							src="/album/_images/people/Karine-Minidre.png"
							alt="Karine Minidré"
							eleventy:widths="200"
							class="grayscale"
						/>
					</div>
					<h3 class="h4 font-bums f-pt-s-4 text-mouse">Karine Minidré</h3>
				</div>
			</div>
			<div class="stack *:[--gap-stack:var(--f-s-2)]">
				<p>
					Indécrottable idéaliste, je rêve de voir les humains s'épanouir pleinement, développer
					leur potentiel et vivre ensemble dans la paix, la joie et la bonne humeur. C'est pas gagné
					en effet mais tant qu'il y a des jeux, il y a de l'espoir ! Passionnée par les enjeux de
					la Relation (à soi, à l'autre) j'utilise le jeu dans mes pratiques professionnelles pour
					créer du lien, faciliter les échanges, faire émerger les compétences et offrir d'intenses
					moments de partage et de rigolade. Je crée à l'occasion des jeux de communication et des
					expériences ludiques relationnelles.
				</p>
				<p><span class="font-bums ctxc-accent ctxc-contrast badge">Autrice</span></p>
			</div>
		</article>
		<article class="with-sidebar items-start [--content-min:70%]">
			<div>
				<div class="ctxc-default f-p-s-4 w-[min(100%,200px+var(--f-s-4)*2)] text-center shadow-md">
					<div class="frame w-[fit-content] rounded-md [--aspect-ratio:1]">
						<img
							src="/album/_images/people/Maud-Chalmel.jpg"
							alt="Maud Chalmel"
							eleventy:widths="200"
							class="grayscale"
						/>
					</div>
					<h3 class="h4 font-bums f-pt-s-4 text-mouse">Maud Chalmel</h3>
				</div>
			</div>
			<div class="stack *:[--gap-stack:var(--f-s-2)]">
				<p>
					Depuis 2005, Maud Chalmel oeuvre dans la communication visuelle et l'évènementiel. Puis
					elle fait ses premiers pas dans l'illustration de jeux de société en 2014 avec Siggil et
					depuis, les jeux se multiplient. Co-fondatrice de la Charte des Illustrateurices Ludiques
					en 2022 pour fédérer le milieu, elle crée un pictogramme «illustré à la main» pour
					encourager l'objet culturel à rester humain avant tout.
				</p>
				<p><span class="font-bums ctxc-contrast badge">illustratrice</span></p>
			</div>
		</article>
		<article class="with-sidebar ctxc-accent items-start bg-transparent [--content-min:70%]">
			<div>
				<div
					class="card ctxc-default f-p-s-4 w-[min(100%,200px+var(--f-s-4)*2)] text-center shadow-md"
				>
					<div class="frame w-[fit-content] rounded-md [--aspect-ratio:1]">
						<img
							src="/album/_images/people/thibaut-NB-square.jpg"
							alt="Thibaut Quintens"
							eleventy:widths="200"
							class="grayscale"
						/>
					</div>
					<h3 class="h4 font-bums f-pt-s-4 text-mouse">
						Thibaut Quintens <small class="block font-sans">Act in Games</small>
					</h3>
				</div>
			</div>
			<div class="stack *:[--gap-stack:var(--f-s-2)]">
				<p>
					<a href="https://www.actingames.com" target="_blank" rel="noopener">Act in Games</a> est
					une maison de création et d'édition de jeux de société. Elle est ludiquement née d'une
					conviction de la puissance du jeu comme moyen de rencontres passionnées, de partage
					d'émotions enjouées et d'interactions fortes et passionnantes, autour d'une table. Les
					créations internes et les éditions originales que propose
					<a href="https://www.actingames.com" target="_blank" rel="noopener">Act in Games</a>
					forment un subtil mélange entre interaction directe, simultanéité d'actions et immersion
					thématique.
				</p>
				<p><span class="font-bums ctxc-accent ctxc-contrast badge">Éditeur</span></p>
			</div>
		</article>
		{#
		<article>
			<img
				src="/album/_images/people/thibaut-NB-square.jpg"
				alt="Thibaut Quintens"
				eleventy:widths="200"
			/>
			<h3>Thibaut Quintens - Act in Games <small>🧭 Éditeur</small></h3>
			<p>
				<a href="https://www.actingames.com" target="_blank" rel="noopener">Act in Games</a> est une
				maison de création et d'édition de jeux de société. Elle est ludiquement née d'une
				conviction de la puissance du jeu comme moyen de rencontres passionnées, de partage
				d'émotions enjouées et d'interactions fortes et passionnantes, autour d'une table. Les
				créations internes et les éditions originales que propose
				<a href="https://www.actingames.com" target="_blank" rel="noopener">Act in Games</a> forment
				un subtil mélange entre interaction directe, simultanéité d'actions et immersion thématique.
			</p>
		</article>
		#}
	</section>
</main>
{# {% endblock %} #}
