/* BASE LAYER */
@import "tailwindcss/base";
@import "helpers.css";
@import "fonts.css";
/* @import "typography.css"; */
@import "colors.css";

/* COMPONENTS LAYER */
@import "tailwindcss/components";

/* UTILITIES LAYER */
@import "tailwindcss/utilities";

/* TODO: add emphasis utilities */
/* https://tailwindcss.com/docs/adding-custom-styles#adding-custom-utilities */
/* https://tailwindcss.com/docs/plugins#dynamic-utilities */
/* https://github.com/tailwindlabs/tailwindcss/discussions/6075 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis-color?retiredLocale=nl */

.barreVerticale {
	height: 85px;
	border: 1px solid #d9933d;
}

.cls-1 {
	fill: var(--color-logo, currentcolor);
	stroke-width: 0px;
}

@media screen and (min-width: 1280px) {
	.sideways-lr {
		writing-mode: sideways-lr;
	}
	@supports (not (writing-mode: sideways-lr)) {
		.sideways-lr {
			writing-mode: vertical-rl;
			transform: rotate(-180deg);
		}
	}
}

/* Full Bleed: break out of a reduced width */
/* As seen here: https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */
/* .full-bleed,
.full-bleed::before,
.full-bleed::after {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #262626;
} */
