/* nuds font-size system (with help of utopia.fyi) */
/* --------------------------------------- */
/* TODO: Chose strategy: */
/* ? -> 1. Have globally available variables and pick among them to create ctx */
/* 2. Variables are defined for each ctx with property name directly (recompute scale on each ctx */
@layer base {
	:root {
		/* NOTE: --fluid-s is the base font size */
		@utopia spaceScale({
			minSize: 18,
			maxSize: 20,
			positiveSteps: [1.5, 2, 3, 4, 6],
    		negativeSteps: [0.75, 0.5, 0.25],
			customSizes: ['s-l'],
			prefix: 'fluid',
			/* relativeTo: 'container', */
			/* usePx: false, */
		});

		/* Generates Space units
		--fluid-2xs: clamp(...);
		--fluid-xs: clamp(...); etc.
		
		One-up pairs
		--fluid-2xs-xs: clamp(...); etc.
		
		Custom sizes
		--fluid-s-l: clamp(...); etc.
		*/

		/* Generates custom pairs */
		/* @utopia clamps({
			pairs: [
				[16, 40]
			],
			prefix: 'sp',
			usePx: false,
			relativeTo: 'viewport'
		}); */

		/* Generates
		--sp-16-40: clamp(...);
		*/
	}
}
