<!doctype html>
<html lang="fr" class="no-js {{class.html or 'h-full'}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- prettier-ignore -->
		<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/css/main.css" />

		<!-- Head injection -->
		{% block head %}{% endblock %}
	</head>
	<body class="{{class.body}}">
		<!-- Nav -->
		{% include "components/header-nav.html" %}

		<!-- Contenu de la page -->
		{% block content %} {{ content | safe }} {% endblock %}

		<!-- Footer -->
		{% include "components/footer.html" %}
	</body>
</html>
