<!doctype html>
<html lang="fr" class="{{class.html or 'h-full'}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css" />

		<!-- Autres éléments du head peuvent être ajoutés ici -->
		{% block head %}{% endblock %}
	</head>
	<body class="{{class.body}}">
		<header>
			<!-- Inclusion de la navbar -->
			{% include "components/navbar.html" %}
		</header>

		<!-- Contenu de la page -->
		{% block content %}
			{{ content | safe }}
		{% endblock %}

		{% include "components/footer.html" %}

		<script src="/assets/js/toggleMenu.js"></script>
	</body>
</html>
