<!doctype html>
<html lang="fr" class="no-js {{class.html or 'h-full'}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script>
			document.documentElement.className = document.documentElement.className.replace(
				/\bno-js\b/g,
				"js"
			);
		</script>
		<title>{{ title }}</title>
		{#
		<link rel="stylesheet" href="/assets/css/styles.css" />
		#}
		<link rel="stylesheet" href="/assets/css/main.css" />

		{% block head %}{% endblock %}
	</head>
	<body class="{{class.body}}">
		{% include "components/navbar.html" %}

		<!-- Contenu de la page -->
		{% block content %} {{ content | safe }} {% endblock %}

		<p class="fluid-text-3xl fluid-m-s leading-neg-25">HELLO WORLD</p>

		{% include "components/footer.html" %}

		<script src="/assets/js/toggleMenu.js"></script>
	</body>
</html>
