<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="output.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    

    <!-- Autres éléments du head peuvent être ajoutés ici -->
  </head>
  <body class="font-robotoflex flex flex-col min-h-screen bg-arriereplan">
    <!-- <div class="max-w-7xl h-full mx-auto w-full">
    </div> -->
    <!-- Inclusion du header -->
      {% include "partials/header.html" %}

      <!-- Contenu de la page -->
      <!-- {% block content %}
            {{ content | safe }}
            {% endblock %} -->
      {% include "sections/blob.html" %}
      {% include "sections/témoignagesQ.html" %}
      {% include "sections/formQ.html" %}
      <!-- Inclusion du footer -->
      {% include "partials/footer.html" %}
  </body>
</html>
