---
title: "Partenariats | ALBUM le jeu"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
head: |
  <meta name="description" content="" />
---

<main class="stack f-pb-s3 [--gap-stack:var(--f-s0)]">
	<h1 class="font-bums">Partenariats</h1>
	<article class="with-sidebar breakout-clickable [--width-sidebar:200px]">
		<!-- {# *:h-100% target the <picture> element #} -->
		<div class="frame *:h-100% [--aspect-ratio:1]">
			<img
				src="/album/_images/saint-luc-cover1024x686.png"
				alt="Photo de l'école Saint-Luc Liège"
				class="h-100% object-cover"
			/>
		</div>
		<div class="stack">
			<h2>
				<a href="/fr/partenariats/st-luc-liege-2024/" class="clickable">St-Luc Liège 2024</a>
			</h2>
			<p>
				Un partenariat extrêmement enrichissant avec une classe de 4ème année de la section
				photographie de l'Institut Saint-Luc à Liège.
			</p>
		</div>
	</article>
</main>
