---
pageRef: "home"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
metadata:
  title: "ALBUM: The emotion of a photo. The intensity of a word."
  description: "Develop your knowledge of yourself and others with this cooperative challenge on the feelings and interpretations of each player"
head: |
  <link rel="stylesheet" href="/assets/css/lite-yt-embed.css" />
  <script src="/assets/js/lite-yt-embed.js" async></script>
---

{# # default: "website" // Accepts: article, product, website #} {# {% extends "./_layouts/base.njk"
%} {% block content %} #}
<main class="stack f-py-s3+2 f-gap-s6 [--gap-stack:0]">
	<hgroup
		class="stack items-center *:[--gap-stack:var(--f-s0)] [&>picture]:[--gap-stack:var(--f-s5)]"
	>
		<h1 class="">
			<img
				src="/album/_images/ALBUM_2024_logo_2000.png"
				alt="Album"
				eleventy:widths="300"
				loading="eager"
				decoding="auto"
			/>
		</h1>
		<p class="h4 font-bums">The emotion of a photo. The intensity of a word.</p>
		<p class="cluster justify-center [--gap-stack:var(--f-s2)]">
			<span class="font-bums ctxc-contrast ctxc-accent badge">Cooperation</span>
			<span class="font-bums ctxc-contrast ctxc-accent badge">Deduction</span>
			<span class="font-bums ctxc-contrast ctxc-accent badge">Communication</span>
		</p>
		<img
			src="/album/_images/ALBUM_BOX3D_droite_2000.png"
			alt="The box of the game Album"
			eleventy:widths="400"
			loading="eager"
			decoding="auto"
			class="m-auto"
		/>
		<p class="m-auto max-w-xl text-center">
			<strong>
				Album is a game that <em>develops the knowledge of self and others</em>. Gather around a
				cooperative challenge on the feelings and interpretations of each player. Travel through
				artistic and symbolic photographs. Each photograph is by a real photographer (in flesh and
				blood). 🤯
			</strong>
		</p>
	</hgroup>

	<div class="w-100% m-auto max-w-[640px]" lang="fr">
		<lite-youtube
			videoid="RC7wJjgflZA"
			playlabel="Play: Ludochrono - Album"
			style="background-image: url(&quot;https://i.ytimg.com/vi/RC7wJjgflZA/sddefault.jpg&quot;)"
		>
			<a
				href="https://youtube.com/watch?v=RC7wJjgflZA"
				target="_blank"
				rel="noopener"
				class="lty-playbtn"
				title="Play Video"
			>
				<span class="lyt-visually-hidden">Play Video: Ludochrono - Album</span>
			</a>
		</lite-youtube>
	</div>

	<section class="testimonials stack full-bleed-before *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Testimonials</h2>
		<ul class="reset reel f-gap-s0 f-p-s-1 mx-auto max-w-full snap-x snap-proximity">
			{% for item in testimonials %}
			<!-- prettier-ignore -->
			{% if loop.index%2==0 %} {% set paletteClass = "ctxc-alt" %}
				{% else %} {% set paletteClass = "ctxc-default" %} {% endif %}

			<li class="flex w-[95%] max-w-lg snap-start items-center">
				<article
					class="with-sidebar ctxc-contrast f-p-s-1 shad breakout-clickable rounded-md {{paletteClass}}"
				>
					<i class="h3 i-ph-quotes-fill inline-block" title="Review"></i>

					<div class="f-gap-s-3 flex flex-col">
						{% if item.quote %}
						<blockquote
							class="f-pl-s-1 quote-indent italic leading-tight [--indent-inset-y:0.25em]"
						>
							{{item.quote_en}}
						</blockquote>
						{% endif %}
						<div>
							<p class="small">{{ item.author | replace("ans", "y.o.") }}</p>
						</div>
					</div>
				</article>
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="full-bleed-before ctxc-contrast f-gap-s1 f-p-s2 flex flex-col items-center">
		<p class="h3 font-bums">Come and try Album with the team</p>
		<ul class="reset center f-gap-s2 cluster">
			{% for item in agenda|sort(false, true, 'sortField') %} {% if loop.index<=3 %}
			<li>
				<time
					datetime="{{item.dateStart}}"
					class="box f-gap-s-6 flex flex-col items-center border-2 leading-none"
				>
					<div class="flex flex-nowrap gap-1">
						<strong>{{ item.dateStart | date(lang, 'dd') }}</strong>
						{% if item.dateEnd and item.dateEnd|date(lang, 'LL') == item.dateStart|date(lang, 'LL')
						%}
						<span>-</span>
						<strong>{{item.dateEnd | date(lang, 'dd') }}</strong>
						{% endif %}
					</div>
					<div><strong>{{ item.dateStart | date(lang, 'LLL') }}</strong></div>
					<div>{{ item.dateStart | date(lang, 'yyyy') }}</div>
				</time>
			</li>
			{% endif %} {% endfor %}
		</ul>
		<a href="/en/agenda/" class="button" title="Schedule">
			<i class="p i-ph-calendar-dots relative top-[0.2em] inline-block"></i>
			<span>Check the full schedule</span></a
		>
	</section>

	<section
		class="game-description green-gradient-in stack full-bleed-before *:[--gap-stack:var(--f-s1)]"
	>
		<h2 class="font-bums text-center">Game Description</h2>
		<img
			src="/album/_images/ALBUM_ECLATE_up_2000.png"
			alt="Album: the material of the game."
			eleventy:widths="500"
			class="m-auto"
		/>
		<p class="m-auto max-w-prose">
			<strong>
				Out of the 5 photographs, only one must remain visible at the end of the round. To help you,
				words are placed on a scale of intensity as subjective clues. Album is a cooperative game
				where the exchange and listening to points of view are the keys to success.
			</strong>
		</p>
		<p class="m-auto max-w-prose">
			You must create a collective photo album based on the best consensus. Each photo tells a point
			of view (from a photographer) that can translate into singular and different stories
			(depending on the person). Will you be able to find the initial photograph with, the only clue
			being, the subjective point of view of another person&nbsp;?!
		</p>
		<details class="box no-border ctxc-contrast rounded-md">
			<summary class="p">
				<span>The rules in greater details</span>
				{% include "src/album/_svg/simple-arrow-down.njk" %}
			</summary>
			{#
			<hr />
			#}
			<div
				class="box no-border ctxc-default [&>p]:f-text-s-0.5 [&>p+p]:f-mt-s-4 mt-2 rounded-md leading-tight *:[--gap-stack:var(--f-s-6)]"
			>
				<img
					src="/album/_images/ALBUM_BOX_back_2000.jpg"
					alt="Rule explanation on the back of the game box"
					class="xs:f-px-s-1 w-100% xs:w-[min(50%,450px)] f-mb-s0 float-right"
					eleventy:widths="450"
				/>

				<p>
					It's time to create a collective album and it's your turn to make others remember a photo!
				</p>
				<p>You take a photo that you observe secretly and quietly.</p>
				<p>
					You immerse yourself in it… at the same time, you pick and place, one by one, a word -
					which will become a valuable clue - on an intensity scale from 0 to 5.
				</p>
				<p>
					In your opinion, is this word rather not (0), little (1or 2) or very (4 or 5)
					present/represented in the photo?
				</p>
				<p>" 'Adventure', is there any for me in this photo?</p>
				<p>Yes, very much!</p>
				<p>I place the word at level 4 of the scale!"</p>
				<p>It's a matter of perspective, personal history or simply feelings.</p>
				<p>
					Will others be able to project themselves in your place and get in tune with your
					subjective regard ?
				</p>
				<p>In each turn, one photo is eliminated. Out of 5 photos, only one is valid!</p>
			</div>
		</details>
		<div class="cluster justify-center">
			<a
				href="/assets/documents/ALBUM_2024_RULES_240424-low.pdf"
				class="button ctxc-contrast font-bums text-center"
				target="_blank"
				>Rules of the game <small class="block">(PDF)</small></a
			>
			<a
				href="https://unjeudansmaclasse.com/?page=article&id_article=123&lang=fr"
				class="button font-bums text-center"
				target="_blank"
				rel="noopener"
				>Educational sheet [FR] <small class="block" lang="fr">(un jeu dans ma classe)</small></a
			>
		</div>
	</section>

	<section class="technical-info stack full-bleed-before ctxc-contrast *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Technical sheet</h2>
		<div
			class="box stack w-100% polaroid m-auto max-w-sm [--content-min:60%] [box-shadow:var(--shadow-3)]"
		>
			<div class="with-sidebar items-center">
				{#
				<img
					src="/album/_images/pictos/Album-picto_age-min.svg"
					alt="Age recommandé"
					eleventy:formats="auto"
					eleventy:widths="100"
					class="max-h-[50px] w-[fit-content]"
				/>
				#}
				<div class="frame h-[50px] [--aspect-ratio:16/9]">
					{% include "../_svg/Album-picto_age-min.njk" %}
				</div>
				<div class="stack [--gap-stack:0.2rem]">
					<p class="f-text-s-1">From <strong>8 years old</strong> supervised</p>
					<p class="f-text-s-1">From <strong>10 years old</strong> alone</p>
				</div>
			</div>
			<div class="with-sidebar items-center">
				<div class="frame h-[50px] [--aspect-ratio:16/9]">
					{% include "../_svg/Album-picto_players-min.njk" %}
				</div>
				<p class="f-text-s-1">For <strong>2 to 6 players</strong></p>
			</div>
			<div class="with-sidebar items-center">
				<div class="frame h-[50px] [--aspect-ratio:16/9]">
					{% include "../_svg/Album-picto_time-min.njk" %}
				</div>
				<p class="f-text-s-1"><strong>30 minutes</strong></p>
			</div>
		</div>
	</section>
	{#
	<section class="stack *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">Témoignages et premières impressions</h2>
		<blockquote>
			<p>
				Après le premier tour de jeu, j'ai immédiatement su que ce jeu pouvait être une pépite pour
				la ligne éditoriale de Act in games. J'avais eu la même conviction immédiate lorsque j'ai
				joué à Feelings pour la première fois. Ca a été un vrai coup de coeur personnel.”
			</p>
			<footer>—Thibaut (Éditeur)</footer>
		</blockquote>
		<blockquote>
			<p>
				Jouer Album, c'est partager notre perception du monde. Aucune bonne réponse, juste la
				sienne&nbsp;!
			</p>
			<footer>—Karine Minidre (Autrice)</footer>
		</blockquote>
		<blockquote>
			<p>La photo ça change des illustrations, et ça nourrit un autre panel d'artistes.</p>
			<footer>—Maud Chalmel (Illustratrice)</footer>
		</blockquote>
		<blockquote>
			<p>
				Quel plaisir d'animer Album et de voir l'interaction qu'il suscite entre les joueurs. Entre
				rires, stupéfactions, raisonnements logiques ou loufoques, le jeu propose un réel challenge
				et un moment de partage très intense et convivial.
			</p>
			<footer>—Yvan Ciarafoni (Animateur Professionnel)</footer>
		</blockquote>
	</section>
	#} {#
	<section
		class="green-gradient-out with-sidebar full-bleed-before f-py-s2 items-center [--content-min:60%]"
	>
		<div>
			<img
				src="/album/_images/ressources/AlbumDansMaClasse.png"
				alt="Album dans ma classe"
				eleventy:widths="300"
				class=""
				loading="lazy"
			/>
		</div>
		<div class="stack *:[--gap-stack:var(--f-s-2)]">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis beatae et dolor laboriosam
				voluptas tempore impedit saepe, quam delectus quae nobis iure porro atque autem harum error
				vitae in illo!
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis beatae et dolor laboriosam
				voluptas tempore impedit saepe, quam delectus quae nobis iure porro atque autem harum error
				vitae in illo!
			</p>
		</div>
	</section>
	#}
	<section class="created-by full-bleed-before stack *:[--gap-stack:var(--f-s1)]">
		<h2 class="font-bums text-center">A game by…</h2>
		<article class="with-sidebar ctxc-accent items-start bg-transparent [--content-min:70%]">
			<div>
				<div class="ctxc-default f-p-s-4 w-[min(100%,200px+var(--f-s-4)*2)] text-center shadow-md">
					<div class="frame w-[fit-content] rounded-md [--aspect-ratio:1]">
						<img
							src="/album/_images/people/Karine-Minidre.png"
							alt="Karine Minidré"
							eleventy:widths="200"
							class="grayscale"
						/>
					</div>
					<h3 class="h4 font-bums f-pt-s-4 text-mouse">Karine Minidré</h3>
				</div>
			</div>
			<div class="stack *:[--gap-stack:var(--f-s-2)]">
				<p>
					Idealistic, I dream of seeing humans flourish fully, develop their potential and livin
					together in peace, joy and good humor. It is not won in fact but as long as there are
					games, there is hope! Passionate about the challenges of relationships (to oneself, to the
					other), I use the game in my professional practices to create a link, facilitate
					exchanges, bring out skills and offer intense moments of sharing and fun. I create
					communication games and playful relational experiences.
				</p>
				<p><span class="font-bums ctxc-accent ctxc-contrast badge">Author</span></p>
			</div>
		</article>
		<article class="with-sidebar items-start [--content-min:70%]">
			<div>
				<div class="ctxc-default f-p-s-4 w-[min(100%,200px+var(--f-s-4)*2)] text-center shadow-md">
					<div class="frame w-[fit-content] rounded-md [--aspect-ratio:1]">
						<img
							src="/album/_images/people/Maud-Chalmel.jpg"
							alt="Maud Chalmel"
							eleventy:widths="200"
							class="grayscale"
						/>
					</div>
					<h3 class="h4 font-bums f-pt-s-4 text-mouse">Maud Chalmel</h3>
				</div>
			</div>
			<div class="stack *:[--gap-stack:var(--f-s-2)]">
				<p>
					Since 2005, Maud Chalmel has been working in visual communication and events. Then she
					took her first steps in the illustration of board games in 2014 with Siggil and since, the
					games are multiplying. Co-founder of the Charter of Ludic Illustrators in 2022, she
					created a pictogram «illustrated by hand» to encourage the cultural object to remain human
					first.
				</p>
				<p><span class="font-bums ctxc-contrast badge">Illustrator</span></p>
			</div>
		</article>
		<article class="with-sidebar ctxc-accent items-start bg-transparent [--content-min:70%]">
			<div>
				<div
					class="card ctxc-default f-p-s-4 w-[min(100%,200px+var(--f-s-4)*2)] text-center shadow-md"
				>
					<div class="frame w-[fit-content] rounded-md [--aspect-ratio:1]">
						<img
							src="/album/_images/people/thibaut-NB-square.jpg"
							alt="Thibaut Quintens"
							eleventy:widths="200"
							class="grayscale"
						/>
					</div>
					<h3 class="h4 font-bums f-pt-s-4 text-mouse">
						Thibaut Quintens <small class="block font-sans">Act in Games</small>
					</h3>
				</div>
			</div>
			<div class="stack *:[--gap-stack:var(--f-s-2)]">
				<p>
					<a href="https://www.actingames.com" target="_blank" rel="noopener">Act in Games</a> is a
					company that creates and publishes board games. It is born playfully from a conviction of
					the power of the game as means of passionate encounters, sharing of playful emotions and
					strong and exciting interactions around a table.
					<a href="https://www.actingames.com" target="_blank" rel="noopener">Act in Games</a>'s
					internal creations and original editions are a subtle mix of direct interaction,
					simultaneous action and thematic immersion.
				</p>
				<p><span class="font-bums ctxc-accent ctxc-contrast badge">Publisher</span></p>
			</div>
		</article>
	</section>
</main>
{# {% endblock %} #}
