<!doctype html>
<html lang="fr" class="no-js {{class.html or 'h-full'}}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content="{{ eleventy.generator }}" />

		<!-- prettier-ignore -->
		<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
		<!-- Icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png" />
		<link rel="manifest" href="/assets/images/icons/site.webmanifest" />
		<link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#731e16" />
		<link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />
		<!-- Preload Fonts -->
		{# TODO: move this out to be project specific #}
		<!-- prettier-ignore -->
		<link rel="preload" href="/assets/fonts/roboto-condensed-normal-lat.woff2" as="font" type="font/woff2" crossorigin>
		<!-- prettier-ignore -->
		<link rel="preload" href="/assets/fonts/roboto-condensed-italic-lat.woff2" as="font" type="font/woff2" crossorigin>
		<!-- prettier-ignore -->
		<link rel="preload" href="/assets/fonts/chantal-medium-regular.ttf" as="font" type="font/ttf" crossorigin>

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!-- Indexing -->
		{% if status == "noindex" %}
		<meta name="robots" content="noindex" />
		{% endif %}
		<!-- TODO: metadata -->
		<title>{{ title }}</title>

		{# Not working with eleventy layouts #}
		<!-- Head injection -->
		{% block head %}{% endblock %}
		<!--  -->
		{{ head | safe }}
		<!-- inlineCss -->
	</head>
	<body class="{{class.body}}">
		<!-- Nav -->
		{% include "../_components/header-nav.html" %}

		<!-- Contenu de la page -->
		{% block content %} {{ content | safe }} {% endblock %}

		<!-- Footer -->
		{% include "../_components/footer.html" %}
	</body>
</html>
