---
pageRef: "partnerships/st-luc-liege-2024"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
metadata:
  title: "Partnership St-Luc Liège 2024 | ALBUM the game"
  description: "St-Luc Liège took the plunge. A 4th year photography class is creating their ALBUM to customize the game."
---

<article class="stack f-pb-s3 [--gap-stack:var(--f-s0)]">
	{#
	<div class="frame full-bleed [--aspect-ratio:16/5] [--full-bleed-max-width:2000px]">
		<img
			src="/album/_images/saint-luc-cover1024x686.png"
			alt="Picture of the school Saint-Luc à Liège"
			class="w-full"
		/>
	</div>
	#}
	<header class="with-sidebar f-py-s1 f-gap-s1 items-end [--width-sidebar:300px]">
		<div
			class="frame *:h-100% xs:[--frame-rotate:-10deg] max-w-[min(100%,300px)] rotate-[var(--frame-rotate,0deg)] shadow-md [--aspect-ratio:5/4] [border:solid_var(--f-s-4)_white]"
		>
			<img
				src="/album/_images/saint-luc-cover1024x686.png"
				alt="Picture of the school Saint-Luc à Liège"
				class="h-100% object-cover"
				eleventy:widths="300"
			/>
		</div>
		<h1 class="font-bums"><span class="h3">Partnership:</span><br />St-Luc Liège 2024</h1>
	</header>

	<div class="m-auto max-w-3xl">
		<p>
			On Monday, June 3rd, we had the pleasure of presenting the game "Album" to a 4th year
			photography class at the Saint-Luc Institute in Liège. This morning of animation had three
			main objectives.
		</p>
		<ul class="p stack f-pl-s0 *:[--gap-stack:var(--f-s-3)]">
			<li>
				Raise awareness and develop listening skills: Our goal was to introduce the young people to
				the concept of cooperative games in order to encourage exchange and listening within the
				group. Encouraging the development of social skills among adolescents, who are at a critical
				stage of their acquisition, is at the heart of Act in Games' mission. The school environment
				lends itself perfectly to this exercise, allowing us to confront our games with an exacting
				public.
			</li>
			<li>
				Familiarize our artists with our approach: As part of a partnership with the Saint-Luc
				Institute, we offer students the opportunity to immerse themselves in the world of a board
				game and to create their first professional works. By providing photographs specifically
				designed for the game, they will be able to enrich a virtual gallery accessible to Album
				players, allowing them to replace the base game cards. By involving them in a game session,
				we were able to confront them with the challenge of creating readable and adapted images for
				this specific playful context.
			</li>
			<li>
				Create content for our social networks: Thanks to the moments captured during this encounter
				and the long-term project set up with the photography department of Saint-Luc, we will be
				promoting the work of Belgian artists on our social media platforms. In a context where
				artificial intelligence is sparking lively discussions, we want to enthusiastically
				encourage human artistic creativity.
			</li>
		</ul>
		<p>
			Transversal projects like this one are a formidable platform for communication and co-creation
			that serve both Act in Games and our partners.
		</p>
	</div>
	<video
		width="320"
		height="568"
		controls
		muted
		preload="metadata"
		poster="/assets/videos/thumbnail-st_luc_liege.jpeg"
		class="m-auto"
	>
		<source
			src="/assets/videos/Trailer-partenariat-Saint_Luc_liege-min-640x1136.webm"
			type="video/webm"
		/>
		<source
			src="/assets/videos/Trailer-partenariat-Saint_Luc_liege-min-640x1136.mp4"
			type="video/mp4"
		/>
	</video>
</article>
