---
pageRef: "calendar"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
metadata:
  title: "Calendar | ALBUM the game"
  description: "Come and meet us and discover Album in real life."
---

<main class="grow-1 stack f-py-s3 *:[--gap-stack:var(--f-s3)]">
	<h1 class="font-bums text-center">Calendar</h1>
	{% if agenda and agenda.length %}
	<ul class="reset center f-gap-s2 flex w-full max-w-xl flex-col">
		{% for item in agenda|sort(false, true, 'sortField') %}
		<li>
			<article class="with-sidebar items-center [--content-min:75%] [--width-sidebar:4rem]">
				<time
					datetime="{{item.dateStart}}"
					class="box f-gap-s-6 border-teal-light text-teal flex flex-col items-center border-2 leading-none"
				>
					<div class="flex flex-nowrap gap-1">
						<strong>{{ item.dateStart | date(lang, 'dd') }}</strong>
						{% if item.dateEnd and item.dateEnd|date(lang, 'LL') == item.dateStart|date(lang, 'LL')
						%}
						<span>-</span>
						<strong>{{item.dateEnd | date(lang, 'dd') }}</strong>
						{% endif %}
					</div>
					<div><strong>{{ item.dateStart | date(lang, 'LLL') }}</strong></div>
					<div>{{ item.dateStart | date(lang, 'yyyy') }}</div>
				</time>
				<div class="f-gap-s-3 flex flex-col">
					<h2 class="h4 font-bums">
						{% if item.linkOrganizer %}
						<a href="{{item.linkOrganizer|replace('/fr/', '/en/')}}" target="_blank" rel="noopener"
							>{{item.name}}</a
						>
						{% else %} {{item.name}} {% endif %}
					</h2>
					{#
					<p class="small">
						<a
							href="https://www.google.com/maps?q={{item.place.gmapQuery | urlencode}}"
							target="_blank"
							rel="noopener"
							>{{item.place.address}}</a
						>, {{item.place.name}}, <strong>{{item.place.country}}</strong>
					</p>
					#}
					<p class="small">{{item.place.name}}, <strong>{{item.place.country}}</strong></p>
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>
		We do not have any scheduled demo right now.<br />
		Please check back later.
	</p>
	{% endif %}
</main>
