<div class="flex justify-center flex-wrap bg-piedpage h-full sm:pt-24 w-full">
    <div class="h-40 flex items-center justify-center">
      <div
        class="transform sm:-rotate-90 mb-30 mt-20 text-7xl mx-auto whitespace-nowrap text-white"
      >
        À PROPOS
      </div>
    </div>
    <div class="mx-auto max-w-xl flex flex-col text-white items-center justify-center mb-36">
      <div>
        L’objectif de notre asbl est de soutenir activement les associations, les
        particuliers et les entreprises, quelle que soit leur taille ou leur
        forme, dans la réalisation d’actions visant le
        <span class="text-orange display:block">bien commun.</span> Notre mission
        est d’être un <span class="text-orange display:block">catalyseur</span> pour l’autonomisation de ces acteurs, en
        éliminant les obstacles et les contraintes qui pourraient entraver leurs
        efforts. 
  
        <br><br>Pour concrétiser cette vision, nous offrons: 
        
  
        <ul class="list-disc pl-5">
          <br>
          <li>Un soutien créatif polyvalent couvrant divers domaines d’expertise tels que
              l’informatique, le design graphique, la gestion de l’information,
              l’organisation des processus, la gestion du changement, la rédaction, la
              photographie, la production vidéo, le marketing, le développement
              personnel et professionnel, et bien d’autres encore.</li>
              <li>Une assistance dans la gestion de projets.</li>
              <li>Des programmes de formation et des ateliers. </li>
              <li>Un soutien logistique, notamment dans la gestion de l’infrastructure informatique.</li>
              <li>L’organisation d’événements.</li>
              <li>Des services de consultation et de conseil.</li>
              <li>Du coaching individuel ou en groupe, ainsi que des thérapies.</li>
              <li>La mise en relation et le réseautage pour favoriser les échanges.</li>
      </ul>
         
        <br />Notre plateforme est habilitée à mener toutes les activités,
        commerciales ou non, directement ou indirectement liées à notre mission.
        Nous sommes également ouverts à collaborer et à soutenir toute initiative
        alignée avec nos objectifs.
      </div>
  
      <!-- Cadre aligné avec le texte et la liste -->
      <div class=" inline-block text-white border-4 border-solid border-orange my-64 mt-5 p-2">
        Vitalité•Energie•Force•Courage•Clarté Mentale•Connexion
      </div>
    </div>
  </div>
