<header>
    <!-- Inclusion de la navbar -->
    {% include "partials/navbar.html" %}

    <h1 class="mt-28 sm:mt-36 text-center mb-8 text-3xl sm:text-3xl lg:text-5xl font-shantell text-sanguine">Une ASBL qui a du sens</h1>

    <p class="text-center mt-5 mb-5 mx-5 text-xl sm:text-2xl"> <span class="font-bold">Collaborations</span> créatives dans le but d’œuvrer pour le <span class="font-bold">bien commun</span></p>

    <!-- <p class="mx-auto text-center mt-5 mb-5 w-[520px]">Conceptions graphiques, développement web et stratégies marketings éco-responsables pour un <span class="relative countainer"><span class="inline-block bg-transparent">succès durable</span><span class="block absolute h-3/4 bg-sanguine"></span></span></p> -->
    <p class="mx-10 sm:mx-auto text-center  mt-5 mb-10 sm:w-[520px]">
        Conceptions graphiques, développement web et stratégies marketings éco-responsables pour un 
        <span class="relative">
            <span class="relative bg-transparent z-20">succès durable</span>
            <span class="absolute bottom-0 left-1 h-1/2 bg-orange w-full"></span>
        </span>
    </p>

    <img src="/assets/images/reunion.jpg" alt="reunion entre membres de Mookai et clients">
</header>