<!-- <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn text-xl">daisyUI</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Home</a></li>
        <li><a>Valeurs</a></li>
        <li><a>Services</a></li>
        <li><a>Team</a></li>
        <li><a>Témoignages</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div> -->
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Home</a></li>
            <li><a>Valeurs</a></li>
            <li><a>Services</a></li>
            <li><a>Team</a></li>
            <li><a>Témoignages</a></li>
            <li><a>Contact</a></li>
        </ul>
      </div>
      <div class="">
        <img src="/assets/images/Logo-2.jpg" alt="Logo de l'ASBL Mookai" class="w-100 h-100">
      </div>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 font-sans text-nav tracking-wide font-semibold uppercase active:text-deums">
        <li visited:text-deums><a class="active:text-deums" href="#test">Home</a></li>
        <li><a class="active:text-deums">Valeurs</a></li>
        <li><a class="active:text-deums">Services</a></li>
        <li><a class="active:text-deums">Team</a></li>
        <li><a class="active:text-deums">Témoignages</a></li>
        <li><a class="active:text-deums">Contact</a></li>
      </ul>
    </div>
  </div>