<div class="w-full max-w-7xl m-auto">
  <div class="w-full flex gap-12 overflow-x-auto">
    <!-- premiere card -->
    <div class="w-96 shrink-0 h-auto bg-arrieplan">
      <h2 class="text-caramel font-semibold text-6xl text-right">Marc</h2>

      <div class="relative w-full h-64">
        <div
          class="absolute inset-0 border-4 border-caramel pointer-events-none translate-x-5 -translate-y-16"
        ></div>
        <img
          src="/assets/images/profil.jpg"
          alt="Profil"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="p-4">
        <p class="text-caramel font-semibold mt-4">• Stratégie</p>
        <p class="text-caramel font-semibold">• Architecture d'information</p>
        <p class="text-caramel mb-4 font-semibold">• Site web</p>
        <p class="text-gray-700">
          Marc est curieux, intelligent et plein de ressources. Il est passionné
          par l’apprentissage et conscient du monde qui l’entoure. Il trouve
          toujours les bons mots réhaussés d’une touche personnelle pleine de
          créativité.
        </p>
      </div>

      <div class="flex flex-row mt-2 ml-4">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-facebook.svg"
            alt="facebook icon"
          />
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500 mx-4">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-youtube.svg"
            alt="youtube icon"
          />
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-instagram.svg"
            alt="instagram icon"
          />
        </a>
      </div>
    </div>
    <!-- deuxième card -->
    <div class="w-96 shrink-0 h-auto bg-arrieplan">
      <h2 class="text-caramel font-semibold text-6xl text-right">Tess</h2>
      <div class="relative w-full h-64">
        <div
          class="absolute inset-0 border-4 border-caramel pointer-events-none translate-x-5 -translate-y-16"
        ></div>
        <img
          src="/assets/images/profil.jpg"
          alt="Profil"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="p-4">
        <p class="text-orange font-semibold mt-4">• Identité visuelle</p>
        <p class="text-orange font-semibold">
          • Travail artistique personnalisé
        </p>
        <p class="text-orange mb-4 font-semibold">• Design & Mise en page</p>
        <p class="text-gray-700">
          Tess est plus qu’une graphiste. Elle est artiste avant tout. De la
          photographie à la peinture en passant par l’illustration. Elle
          expérimente tous les jours la transformation des formes et des
          couleurs en émotions
        </p>
      </div>
      <div class="flex flex-row mt-2 ml-4">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-facebook.svg"
            alt="facebook icon"
          />
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500 mx-4">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-youtube.svg"
            alt="youtube icon"
          />
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-instagram.svg"
            alt="instagram icon"
          />
        </a>
      </div>
    </div>
    <!-- troisieme card -->
    <div class="w-96 shrink-0 h-auto bg-arrieplan">
      <h2 class="text-caramel font-semibold text-6xl text-right">M4rrc0</h2>
      <div class="relative w-full h-64">
        <div
          class="absolute inset-0 border-4 border-caramel pointer-events-none translate-x-5 -translate-y-16"
        ></div>
        <img
          src="/assets/images/profil.jpg"
          alt="Profil"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="p-4">
        <p class="text-orange font-semibold mt-4">• Doppelgange</p>
        <p class="text-orange font-semibold">• Hacker Pro</p>
        <p class="text-orange mb-4 font-semibold">• Sites bancaires Dark</p>
        <p class="text-gray-700">
          Marco est recherché par Interpol car trop curieux, intelligent et
          plein de ressources. Il est passionné par le deepweb et conscient
          qu’il peut agir sur le monde de la finance. Il trouve toujours les
          bons mots pour encourager ses zélotes à finir son hackathon.
        </p>
      </div>
      <div class="flex flex-row mt-2 ml-4">
        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-facebook.svg"
            alt="facebook icon"
          />
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500 mx-4">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-youtube.svg"
            alt="youtube icon"
          />
        </a>

        <a href="#" class="text-gray-400 hover:text-gray-500">
          <img
            class="h-8 w-8"
            src="/assets/images/icon-instagram.svg"
            alt="instagram icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>
