<div class="flex flex-wrap justify-center gap-12 my-32 mx-32">
    <div class="w-96 h-auto bg-white shadow-md">
        <img src="/assets/images/profil.jpg" alt="Profil" class="w-full h-60 object-cover">
        <div class="p-4">
            <p class="text-orange mt-4">• Stratégie</p>
            <p class="text-orange">• Architecture d'information</p>
            <p class="text-orange mb-4">• Site web</p>
            <p class="text-gray-700">
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Libero commodi, aliquid adipisci rerum fugiat vitae delectus neque cumque numquam facilis quos et. Doloribus voluptatum vero, pariatur est odio earum corrupti.
                Doloribus voluptatum vero, pariatur est odio earum corrupti. Doloribus voluptatum vero, pariatur est odio earum corrupti.
                Doloribus voluptatum vero, pariatur est odio earum corrupti. Doloribus voluptatum vero, pariatur est odio earum corrupti.
            </p>
        </div>
        <div class="flex flex-row mt-2">
            <a href="#" class="text-gray-400 hover:text-gray-500 ">
              <img
                class="h-6 w-6 "
                src="/assets/images/icon-facebook.svg"
                alt="facebook icon"
              />
            </a>
    
            <a href="#" class="text-gray-400 hover:text-gray-500 mx-4">
              <img
                class="h-6 w-6"
                src="/assets/images/icon-youtube.svg"
                alt="youtube icon"
              />
            </a>
    
            <a href="#" class="text-gray-400 hover:text-gray-500">
              <img
                class="h-6 w-6"
                src="/assets/images/icon-instagram.svg"
                alt="instagram icon"
              />
            </a>
          </div>
    </div>
   
</div>