<div class="h-full flex bg-gris py-20">
    <div class="sideways-lr h-40 flex items-center justify-center sm:w-1/5">
        <div class=" mb-8  text-7xl mx-20 whitespace-nowrap text-sanguine">TEMOIGNAGES</div>
    </div>
    <!-- Div englobant les trois avis -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <!-- Premier avis -->
        <div class="flex flex-nowrap items-center justify-between">
            <div class="flex-shrink-0 mr-2">
                <img src="/assets/images/utilisateur.png" class="w-16 h-16" alt="" />
            </div>
            <div class="flex-grow mr-2">
                <p>
                    À l’écoute de tes envies mais authentique et compétente. Son
                    graphisme est pertinent, magnifique et unique.
                </p>
                <div class="flex items-center my-4">
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                </div>
                <p>
                    <span class="text-orange font-semibold">Gilles</span> - The Southern
                    Experience
                </p>
            </div>
        </div>

        <!-- Deuxième avis -->
        <div class="flex flex-nowrap items-center justify-between">
            <div class="flex-shrink-0 mr-2">
                <img src="/assets/images/utilisateur.png" class="w-16 h-16" alt="" />
            </div>
            <div class="flex-grow mr-2">
                <p>
                    À l’écoute de tes envies mais authentique et compétente. Son
                    graphisme est pertinent, magnifique et unique.
                </p>
                <div class="flex items-center my-4">
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                </div>
                <p>
                    <span class="text-orange font-semibold">Gilles</span> - The Southern
                    Experience
                </p>
            </div>
        </div>

        <!-- Troisième avis -->
        <div class="flex flex-nowrap items-center justify-between md:justify-center mt-4 md:mt-0">
            <div class="flex-shrink-0 mr-2">
                <img src="/assets/images/utilisateur.png" class="w-16 h-16" alt="" />
            </div>
            <div class="flex-grow mr-2">
                <p>
                    À l’écoute de tes envies mais authentique et compétente. Son
                    graphisme est pertinent, magnifique et unique.
                </p>
                <div class="flex items-center my-4">
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                    <img src="/assets/images/etoile.png" alt="" class="h-6 w-6" />
                </div>
                <p>
                    <span class="text-orange font-semibold">Gilles</span> - The Southern
                    Experience
                </p>
            </div>
        </div>
    </div>
</div>
