---
pageRef: "partnerships"
class:
  body: "max-w-5xl m-auto f-px-s0 font-sans"
metadata:
  title: "Partnerships | ALBUM, the game"
  description: "They created their ALBUM. Come discover our partners using the game."
---

<main class="stack f-py-s3 *:[--gap-stack:var(--f-s3)]">
	<h1 class="font-bums text-center">Partnerships</h1>
	<div>
		<article
			class="partner-card box no-border f-py-s1 with-sidebar breakout-clickable [--width-sidebar:250px] [&:has(a:hover)]:[--frame-rotate:0deg]"
		>
			<!-- {# *:h-100% target the <picture> element #} -->
			<div
				class="frame *:h-100% rotate-[var(--frame-rotate,-3deg)] shadow-md [--aspect-ratio:5/4] [border:solid_var(--f-s-4)_white]"
			>
				<img
					src="/album/_images/saint-luc-cover1024x686.png"
					alt="Photo de l'école Saint-Luc Liège"
					class="h-100% object-cover"
					eleventy:widths="250"
				/>
			</div>
			<div class="">
				<h2 class="font-bums leading-tight">
					<a href="/en/partnerships/st-luc-liege-2024/" class="reset clickable"
						>St-Luc Liège 2024</a
					>
				</h2>
				<p>
					An extremely enriching partnership with a 4th year class of the photography section of the
					Saint-Luc Institute in Liège.
				</p>
			</div>
		</article>
	</div>
</main>
